/* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */

                        div#collapseExample {
                            visibility: visible !important;
                        }
                        
                        .form-group label {
                            padding-bottom: 6px;
                        }
                        
                        table.dataTable {
                            width: 100% !important;
                        }
                        
                        .linebreak {
                            white-space: pre-line;
                        }
                        
                        .sales-left .scrollbar {
                            height: 120vh;
                        }
                        
                        .btn-group .btn-group-sm .btn .mbg:hover i {
                            color: #09518e !important;
                        }
                        
                        .dropdown-menu {
                            width: 600px !important;
                            height: auto !important;
                        }
                        
                        .additem {
                            position: relative;
                            top: 30px;
                            z-index: 1;
                        }
                        
                        .searchbox {
                            padding: 10px 20px 10px 20px !important;
                        }
                        
                        .smallfont {
                            font-size: 0.75rem;
                            font-weight: 400;
                            margin-bottom: 0.5rpm !important;
                        }
                        
                        .bill p {
                            width: 100%;
                            float: left;
                            line-height: 25px;
                            font-weight: 400;
                            font-size: 16px;
                            font-style: normal;
                            margin: 0;
                            padding: 0;
                        }
                        
                        .table.bill td {
                            padding: 0.4rem 5px;
                        }
                        
                        .table.bill th {
                            text-align: right;
                            padding: 0.4rem 15px;
                        }
                        
                        .table.bill1 th {
                            text-align: right;
                            padding: 0rem 15px;
                        }
                        
                        .table.bill1 td {
                            padding: 0rem 5px;
                        }
                        
                        .bill1 p {
                            width: 100%;
                            float: left;
                            line-height: 25px;
                            font-weight: 400;
                            font-size: 16px;
                            font-style: normal;
                            margin: 0;
                            padding: 0 0 6px;
                        }
                        
                        .bill1 {
                            margin-top: -9px;
                        }
                        
                        .table thead th {
                            vertical-align: middle;
                        }
                        
                        .order-date {
                            padding-bottom: 1px;
                            display: inline-block;
                        }
                        
                        .ccs p strong {
                            font-weight: 500 !important;
                        }
                        
                        .mt-6 {
                            margin-top: 6px !important;
                            margin-right: 5px;
                        }
                        
                        .ccs p {
                            width: 100%;
                            float: left;
                            line-height: 20px;
                            font-weight: 400;
                            font-size: 16px;
                            font-style: normal;
                            margin: 0;
                            padding: 0;
                        }
                        
                        .btntype {
                            padding: 0.25rem 0.9rem;
                        }
                        
                        .customerbg {
                            font-weight: bold;
                            padding: 5px 10px;
                            background-color: #fbcfd6;
                            border: 1px solid #efa0ac;
                            color: #333333;
                            -webkit-print-color-adjust: exact;
                            color-adjust: exact !important;
                        }
                        
                        .pon {
                            color: #6c757d;
                            font-weight: bold;
                            font-size: 15px;
                        }
                        
                        .LLP {
                            color: #6c757d;
                            display: inline;
                            font-weight: bold;
                            font-size: 15px;
                        }
                        
                        .LLP b,
                        strong,
                        .pon b,
                        strong {
                            font-weight: bold;
                        }
                        
                        .newprice {
                            color: #09518e;
                            display: inline;
                        }
                        
                        .hidden {
                            display: none;
                        }
                        
                        address {
                            font-size: 16px;
                            margin: 0 0 15px;
                        }
                        
                        .pdfwrap h5 {
                            font-size: 1rem;
                        }
                        
                        .black address {
                            font-size: 16px;
                            margin: 0 0 15px;
                        }
                        
                        .mailpad {
                            padding: 0.2rem 0.8rem 0.1rem;
                        }
                        
                        .idt .thead-dark th {
                            border-color: #dee2e6;
                        }
                        
                        #contentToConvert.black {
                            padding: 35px 59px 38px 50px;
                        }
                        
                        .black .grandouter {
                            color: #000 !important;
                            background-color: #fff;
                            border-top: 1px solid #333 !important;
                            border-bottom: 2px solid #333 !important;
                            -webkit-print-color-adjust: exact !important;
                            color-adjust: exact !important;
                        }
                        
                        .black address,
                        .black .bill p,
                        .black .ccs p,
                        .pdfwrap h5,
                        .black .table td,
                        .black .text-muted {
                            color: #000 !important;
                        }
                        
                        .black .bill p,
                        .black .ccs p {
                            width: 100%;
                            float: left;
                            line-height: 25px;
                            font-weight: 400;
                            font-size: 16px;
                            font-style: normal;
                            margin: 0;
                            padding: 0;
                        }
                        
                        .black .table .thead-light th {
                            border-color: #333;
                        }
                        
                        .black .table-bordered th {
                            border-bottom: 0;
                            border-color: #333;
                        }
                        
                        .black .print-table {
                            border-right: 1px solid #333;
                        }
                        
                        .black .table-bordered td {
                            border: 1px solid #333;
                            border-right: 0;
                            border-top: 0;
                        }
                        
                        .black .table thead th {
                            background-color: #38414a;
                            color: #fff;
                            border-right: 0;
                        }
                        
                        .Repair {
                            font-weight: bold;
                            padding: 0px;
                            color: red
                        }
                        
                        .approvebg {
                            font-weight: bold;
                            padding: 5px 10px;
                            background-color: rgba(0, 0, 0, .075);
                            border: 1px solid rgba(0, 0, 0, .075);
                            color: #333333;
                            text-transform: uppercase;
                            -webkit-print-color-adjust: exact;
                            color-adjust: exact !important;
                        }
                        
                        .order {
                            background: #ececec;
                            color: #333;
                            padding: 1px 5px;
                            margin-right: 8px;
                        }
                        
                        .equlaization {
                            padding-top: 65px;
                        }
                        
                        #contentToConvert {
                            //padding: 50px 57px 38px 57px;
                            padding: 35px 49px 38px 50px;
                            margin: 0;
                        }
                        
                        .allsalebtn {
                            padding-left: 10px !important;
                        }
                        
                        .black .d-print-none {
                            display: none;
                        }
                        
                        .table thead th {
                            background-color: #f1f5f7;
                        }
                        
                        .btn-success {
                            -webkit-print-color-adjust: exact;
                            color-adjust: exact !important;
                        }
                        
                        .table tbody+tbody {
                            border-top: 1px solid #dee2e6;
                        }
                        
                        .grandouter p {
                            font-size: 18px !important;
                            padding: 7px 0 5px !important;
                        }
                        
                        @media screen and (max-width:1366px) {
                            table#datatable-angular {
                                width: 100% !important;
                            }
                        }
                        
                        @media screen and (max-width:1280px) {
                            .bill1 {
                                margin-top: -6px !important;
                            }
                            .bill1 p {
                                font-size: 13px !important;
                            }
                        }
                        
                        @media screen and (max-width:1024px) {
                            #contentToConvert {
                                padding: 20px;
                            }
                        }
                        
                        @media screen and (max-width:768px) {
                            #contentToConvert {
                                padding: 20px;
                            }
                            .customerbg {
                                display: block;
                                padding: 5px 0;
                            }
                            table.table.table-borderless.bill.mb-0 th {
                                width: 85%;
                            }
                            .mt-6 {
                                margin-right: 0;
                            }
                            .sales-left .scrollbar {
                                height: 113vh;
                            }
                        }
                        
                        @media screen and (max-width: 640px) {
                            p.m-b-10.text-right {
                                text-align: left !important;
                            }
                            .table.bill th {
                                width: 75% !important;
                            }
                            #contentToConvert {
                                padding: 20px;
                            }
                            .ccs p {
                                padding-bottom: 5px;
                            }
                            .sales-table {
                                margin: 0px !important;
                            }
                        }
                        
                        @media print {
                            .card-box {
                                background-color: #fff;
                                background-clip: border-box;
                                border: 0px solid #e7eaed;
                                padding: 0px !important;
                                margin: 0px !important;
                                border-radius: 0rem;
                            }
                            .pdfwrap {
                                margin: 0 !important;
                                padding: 0 !important;
                            }
                            #contentToConvert {
                                padding: 0px !important;
                                margin: 0 !important;
                            }
                            .table thead th {
                                background-color: #38414a !important;
                                -webkit-print-color-adjust: exact;
                                color-adjust: exact !important;
                                color: #fff;
                            }
                            body {
                                -webkit-print-color-adjust: exact;
                                color-adjust: exact !important;
                            }
                            @page {
                                size: A4 landscape;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                margin-bottom: 0px;
                                margin: 0;
                                -webkit-print-color-adjust: exact;
                            }
                        }