<!-- 
    /* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
 -->
<div class="container-fluid">
    <app-page-title title="Sales Order"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- Logo & title -->
                <div class="clearfix">
                    <div class="float-left">
                        <img src="assets/images/ah_logo.png" alt="" height="30">
                    </div>
                    <div class="float-right">
                        <h4 class="m-0 d-print-none">Invoice</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-3">
                            <p><b>Description:</b> Repair for AHR-C200AB dated<br> 10/13/2020
                            </p>
                            <!-- <p class="text-muted">Thanks a lot because you keep purchasing our products. Our company
                                promises to provide high quality products for you as well as outstanding
                                customer service for every transaction. </p> -->
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-4">
                        <div class="mt-3 float-left">
                            <p class="m-b-5"><strong>Current Status : </strong> Quote Approved</p>
                            <p class="m-b-5"><strong>Customer : </strong> DANA CORPORATION</p>
                            <p class="m-b-5"><strong>Customer Ref # 1 : </strong> 581211111000363T6</p>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-4">
                        <div class="mt-3 float-right">
                            <p class="m-b-5"><strong>Due Date: </strong> <span class="float-right">
                                    &nbsp;&nbsp;&nbsp;&nbsp; 10/13/2020</span></p>
                            <p class="m-b-5"><strong>Purchase Order #: </strong> <span class="float-right">&nbsp;123456</span></p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row mt-4">
                    <div class="col-sm-4">
                        <h5>Billing Address</h5>
                        <address>
                            DANA CORPORATION<br>
                            6201 TRUST DRIVE<br>
                            HOLLAND, 43528
                        </address>
                    </div>
                    <!-- end col -->

                    <div class="col-sm-4 text-left">
                        <h5>Shipping Address</h5>
                        <p class="m-b-5">DANA CORPORATION<br> 6201 TRUST DRIVE<br> HOLLAND, 43528</p>
                        <h5>Shipping Method:</h5>

                    </div>
                    <!-- end col -->
                    <div class="col-md-4">
                        <div class="mt-3 float-right">
                            <p class="m-b-5"><strong>Sales Order No: </strong> <span class="float-right">
                                    &nbsp;&nbsp;&nbsp;&nbsp; SO018698</span></p>
                            <p class="m-b-5"><strong>Repair Request No: </strong> <span class="float-right">&nbsp;RR028831</span></p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <h5>Customer Quote</h5>
                        <div class="table-responsive">
                            <table class="table table-centered">
                                <thead>
                                    <tr>
                                        <th>Part#</th>
                                        <th>Part Description</th>
                                        <th>Serial #</th>
                                        <th>Warranty Period</th>
                                        <th>Lead Time</th>
                                        <th>Quantity</th>
                                        <th>Rate(US$)</th>
                                        <th>Price(US$)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>AHR-C200AB - Repair Charges</td>
                                        <td>REPAIR OF: PRICE PUMP, PU MP/MOTOR COMBO PART # C200AB</td>
                                        <td>581211111000363T6</td>
                                        <td>1 Month</td>
                                        <td>AHR-C200AB</td>
                                        <td>1.00</td>
                                        <td>100.00</td>
                                        <td>100.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row ">
                    <!-- end col -->
                    <div class="col-sm-12">
                        <div class="float-right">
                            <p><b>Sub Total:</b> <span class="float-right">100.00</span></p>
                            <p><b>AH Processing Fee:</b> <span class="float-right">2.00</span></p>
                            <p><b>Total Tax:</b> <span class="float-right">0.00</span></p>
                            <p><b>Discount:</b> <span class="float-right">0.00</span></p>
                            <p><b>Shipping:</b> <span class="float-right">0.00</span></p>
                            <p><b>Grand Total:</b> <span class="float-right">102.00</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end col -->
                </div>

                <!-- end row -->


                <div class="row">
                    <div class="col-sm-6">
                        <div class="clearfix pt-3">
                            <h6 class="text-muted">Notes:</h6>

                            <small class="text-muted">
                                We sincerely appreciate the opportunity to quote, please let us know if there is
                                anything we can do to earn your business.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-1">
                    <div class="text-right d-print-none">
                        <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light"><i
                                class="mdi mdi-printer mr-1"></i> Print</a>
                        <a href="javascript: void(0);" class="btn btn-success waves-effect waves-light ml-1">Submit</a>
                    </div>
                </div>
            </div>
            <!-- end card-box -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>