.sidebar-heading {
    padding: 25px;
    color: #fff;
    text-align: center;
}

.searchbt {
    margin-top: 29px;
}

.customerbg {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #fbcfd6;
    border: 1px solid #efa0ac;
    color: #333333;
    float: center;
    -webkit-print-color-adjust: exact;
    color-adjust: exact !important;
}

td.bold {
    font-weight: 500;
}

th.bold1 {
    font-weight: 500 !important;
    font-size: 16px !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6;
}

.topic {
    // background-color: #000;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #fbcfd6;
    border: 1px solid #efa0ac;
    color: #333333;
    -webkit-print-color-adjust: exact;
    color-adjust: exact !important;
    float: center !important;
}

.heading {
    color: #09518e !important;
    background-color: #fff;
    border-top: 0px solid #333 !important;
    border-bottom: 0px solid #333 !important;
    -webkit-print-color-adjust: exact !important;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.Date {
    color: #09518e !important;
    background-color: #fff;
    border-top: 0px solid #333 !important;
    border-bottom: 0px solid #333 !important;
    -webkit-print-color-adjust: exact !important;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width:640px) {
    .card-box {
        padding: 1.5rem 1rem !important;
    }
}