.inv-dahboard h2 {
	font-size: 1.25rem;
	margin: 0;
	padding: 0 0 15px;
}

.stb {
	position: absolute;
	top: 15px;
	right: 15px;
}

.sepickchart {
	padding: 0 10px;
	width: 30%;
	background: #565d66;
	color: #fff;
	font-weight: bold;
}

.rct {
	float: right;
	padding: 0;
	text-align: center;
}

.clear15 {
	height: 1px;
	clear: both;
	width: 100%;
	float: left;
	padding-bottom: 15px;
}

.sepick {
	padding: 0 10px;
	background: #565d66;
	color: #fff;
	font-weight: bold;
}

.sepick1 {
	padding: 2px 8px 2px 10px;
	background: #565d66;
	color: #fff;
	font-size: 18px;
	margin: 0 6px;
}

ngb-alert.alert:hover {
	cursor: pointer;
}

.font23 {
	font-size: 23px;
}

.font28 {
	font-size: 28px;
}

.font35 {
	font-size: 31px;
}

.avatar-title {
	display: flex !important;
}

.pl15 {
	padding-left: 15px;
}

.text-mute-blue {
	font-size: 19px !important;
	text-align: center;
	font-weight: 500 !important;
	color: #fff;
}

.lpe h2 {
	font-size: 1.3rem;
	margin-bottom: 5px;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	color: #343a40;
}

// h3.tdd {
//     font-size: 1.8rem;
//     margin-top: 0;
// }
h3.tdd {
	font-size: 2.7rem;
	color: #fff;
	margin: -5px 0 0 0;
	padding: 0;
}

ngb-alert.alert:last-child {
	padding-bottom: 20px;
	float: left;
}

.alert {
	font-family: Roboto, sans-serif;
	font-size: 13px !important;
}

.w-100 strong {
	font-weight: bold;
}

.inbox-item {
	padding: 10px !important;
	border: 1px solid #eff3f7;
	margin-bottom: 10px;
}

.sib {
	color: #ff3c59;
	font-size: 0.8rem;
	padding-right: 5px;
}

.sib-time {
	font-size: 1rem;
	color: #f58091;
	margin-right: 2px;
}

.sob-time {
	font-size: 1rem;
	color: #69daec;
	margin-right: 2px;
}

.rfs-time {
	font-size: 1rem;
	color: #f9ca78;
	margin-right: 2px;
}

.dam-time {
	font-size: 1rem;
	color: #1cbb9c;
	margin-right: 2px;
}

.sob {
	color: #69daec;
	font-size: 0.8rem;
	padding-right: 5px;
}

.rfs {
	color: #fbb02c;
	font-size: 0.8rem;
	padding-right: 5px;
}

.dam {
	color: #1cbb9c;
	font-size: 0.8rem;
	padding-right: 5px;
}

.sibb {
	color: #ff3c59;
}

.sobb {
	color: #31b5ca;
}

.rfss {
	color: #fbb02c;
}

.damm {
	color: #1cbb9c;
}

.inbox-widget .inbox-item .inbox-item-text {
	color: #323a46;
	font-size: 0.83rem;
	font-family: Roboto, sans-serif;
}

.inbox-widget .inbox-item .inbox-item-date {
	color: #98a6ad;
	font-size: 0.75rem;
	font-family: Roboto, sans-serif;
	position: relative;
	right: 5px;
	top: 0 !important;
	padding: 0;
	margin: 0;
}

.rfid-txt {
	color: #323a46;
	text-align: left;
	padding: 0;
	font-family: Roboto, sans-serif;
	margin: 0 0 0 -5px;
	font-size: 0.75rem;
}

.inbox-widget .inbox-item .inbox-item-author {
	margin-bottom: 2px;
}

p.inbox-item-text {
	color: #98a6ad !important;
}

.alert-success {
	color: #0e6251 !important;
	background-color: #d1f2eb !important;
	border-color: #bfece3 !important;
}

.alert-info {
	color: #1d6b78 !important;
	background-color: #d7f5fa !important;
	border-color: #c7f1f8 !important;
}

.alert-primary {
	color: #4a4742 !important;
	background-color: #e9e7e5 !important;
	border-color: #e0dedb !important;
}

.alert-danger {
	color: #7d2c38 !important;
	background-color: #fcdde2 !important;
	border-color: #fbcfd6 !important;
}

.si {
	background: #f1556c !important;
}

.si-warn {
	background: #bd1f46 !important;
	border: 6px solid #ff8aa7 !important;
}

.co {
	background: #1bc0db !important;
}

.co-info {
	background: #008fa9 !important;
	border: 6px solid #00afce !important;
}

.ci {
	background: #159a80 !important;
}

.ci-warn {
	background: #006b54 !important;
	border: 6px solid rgb(25 171 139) !important;
}

.blinking {
	width: 100%;
	height: 100%;
	-webkit-animation: pulse 1s infinite;
	-moz-animation: pulse 1s infinite;
	-ms-animation: pulse 1s infinite;
	-o-animation: pulse 1s infinite;
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0%,
	49% {
		background-color: #f58091;
		border: 1px solid #f47487;
		color: #fff;
	}
	50%,
	100% {
		background-color: #f47487;
		border: 1px solid #f58091;
		color: #fff;
	}
}

.blinking2 {
	width: 100%;
	height: 100%;
	-webkit-animation: pulse2 1s infinite;
	-moz-animation: pulse2 1s infinite;
	-ms-animation: pulse2 1s infinite;
	-o-animation: pulse2 1s infinite;
	animation: pulse2 1s infinite;
}

@keyframes pulse2 {
	0%,
	49% {
		background-color: #f7b84b;
		border: 1px solid #fbc634;
		color: #fff;
	}
	50%,
	100% {
		background-color: #fbc634;
		border: 1px solid #f7b84b;
		color: #fff;
	}
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1680px) {
	.card-dashpad {
		padding: 0.6rem 1rem 0.3rem 1.3rem;
	}
	.table-responsive {
		overflow: auto !important;
	}
	.dhh {
		min-height: 95px;
	}
	.greyl {
		padding-bottom: 1rem;
	}
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
}

@media screen and (max-width: 1600px) {
	.dh3 {
		font-size: 1.1rem;
	}
	.card-dashpad .avatar-lg {
		height: 3rem !important;
		width: 3rem !important;
	}
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
}

@media screen and (max-width: 1536px) {
	.greyl {
		padding-bottom: 1rem;
	}
	.dhh {
		min-height: 92px;
	}
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
}

@media screen and (max-width: 1440px) {
	.dhh {
		min-height: 88px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.nrp {
		font-size: 13px !important;
	}
	.card-dashpad {
		padding: 0.5rem 0.3rem 0.7rem 1rem !important;
	}
	.dh3 {
		font-size: 1.1rem;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
	.greyl {
		padding-bottom: 1rem;
	}
	.font35 {
		font-size: 28px;
	}
	.avatar-lg {
		margin-top: 4px;
	}
}

@media screen and (max-width: 1366px) {
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
	.dhh {
		min-height: 87px;
	}
	.table-responsive {
		overflow: auto !important;
	}
	.dh3 {
		font-size: 1.1rem;
	}
	.nrp {
		font-size: 13px !important;
	}
	.card-dashpad {
		padding: 0.5rem 0.3rem 0.7rem 0.5rem !important;
	}
	.font35 {
		font-size: 28px !important;
	}
	.font28 {
		font-size: 22px !important;
	}
	.font23 {
		font-size: 18px !important;
	}
	.greyl {
		padding-bottom: 1rem;
	}
}

@media screen and (max-width: 1280px) {
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
	.sepickchart {
		width: 35%;
	}
	.aw {
		margin-top: -4px;
	}
	.text-mute-blue {
		font-size: 15px;
	}
}

.inv-dahboard h2 {
	font-size: 1.25rem;
	margin: 0;
	padding: 0 0 15px;
}

.stb {
	position: absolute;
	top: 15px;
	right: 15px;
}

.sepickchart {
	padding: 0 10px;
	width: 30%;
	background: #565d66;
	color: #fff;
	font-weight: bold;
}

.rct {
	float: right;
	padding: 0;
	text-align: center;
}

.clear15 {
	height: 1px;
	clear: both;
	width: 100%;
	float: left;
	padding-bottom: 15px;
}

.sepick {
	padding: 0 10px;
	background: #565d66;
	color: #fff;
	font-weight: bold;
}

.sepick1 {
	padding: 2px 8px 2px 10px;
	background: #565d66;
	color: #fff;
	font-size: 18px;
	margin: 0 6px;
}

ngb-alert.alert:hover {
	cursor: pointer;
}

.font23 {
	font-size: 23px;
}

.font28 {
	font-size: 28px;
}

.font35 {
	font-size: 31px;
}

.avatar-title {
	display: flex !important;
}

.pl15 {
	padding-left: 15px;
}

.text-mute-blue {
	font-size: 19px !important;
	text-align: center;
	font-weight: 500 !important;
	color: #fff;
}

.lpe h2 {
	font-size: 1.3rem;
	margin-bottom: 5px;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	color: #343a40;
}

// h3.tdd {
//     font-size: 1.8rem;
//     margin-top: 0;
// }
h3.tdd {
	font-size: 2.7rem;
	color: #fff;
	margin: -5px 0 0 0;
	padding: 0;
}

ngb-alert.alert:last-child {
	padding-bottom: 20px;
	float: left;
}

.alert {
	font-family: Roboto, sans-serif;
	font-size: 13px !important;
}

.w-100 strong {
	font-weight: bold;
}

.inbox-item {
	padding: 10px !important;
	border: 1px solid #eff3f7;
	margin-bottom: 10px;
}

.sib {
	color: #ff3c59;
	font-size: 0.8rem;
	padding-right: 5px;
}

.sib-time {
	font-size: 1rem;
	color: #f58091;
	margin-right: 2px;
}

.sob-time {
	font-size: 1rem;
	color: #69daec;
	margin-right: 2px;
}

.rfs-time {
	font-size: 1rem;
	color: #f9ca78;
	margin-right: 2px;
}

.dam-time {
	font-size: 1rem;
	color: #1cbb9c;
	margin-right: 2px;
}

.sob {
	color: #69daec;
	font-size: 0.8rem;
	padding-right: 5px;
}

.rfs {
	color: #fbb02c;
	font-size: 0.8rem;
	padding-right: 5px;
}

.dam {
	color: #1cbb9c;
	font-size: 0.8rem;
	padding-right: 5px;
}

.sibb {
	color: #ff3c59;
}

.sobb {
	color: #31b5ca;
}

.rfss {
	color: #fbb02c;
}

.damm {
	color: #1cbb9c;
}

.inbox-widget .inbox-item .inbox-item-text {
	color: #323a46;
	font-size: 0.83rem;
	font-family: Roboto, sans-serif;
}

.inbox-widget .inbox-item .inbox-item-date {
	color: #98a6ad;
	font-size: 0.75rem;
	font-family: Roboto, sans-serif;
	position: relative;
	right: 5px;
	top: 0 !important;
	padding: 0;
	margin: 0;
}

.rfid-txt {
	color: #323a46;
	text-align: left;
	padding: 0;
	font-family: Roboto, sans-serif;
	margin: 0 0 0 -5px;
	font-size: 0.75rem;
}

.inbox-widget .inbox-item .inbox-item-author {
	margin-bottom: 2px;
}

p.inbox-item-text {
	color: #98a6ad !important;
}

.alert-success {
	color: #0e6251 !important;
	background-color: #d1f2eb !important;
	border-color: #bfece3 !important;
}

.alert-info {
	color: #1d6b78 !important;
	background-color: #d7f5fa !important;
	border-color: #c7f1f8 !important;
}

.alert-primary {
	color: #4a4742 !important;
	background-color: #e9e7e5 !important;
	border-color: #e0dedb !important;
}

.alert-danger {
	color: #7d2c38 !important;
	background-color: #fcdde2 !important;
	border-color: #fbcfd6 !important;
}

.si {
	background: #f1556c !important;
}

.si-warn {
	background: #bd1f46 !important;
	border: 6px solid #ff8aa7 !important;
}

.cl {
	background: #99cc00 !important;
}

.cl-lemon {
	background: #628001 !important;
	border: 6px solid #8cb902 !important;
}

.co {
	background: #1bc0db !important;
}

.co-info {
	background: #008fa9 !important;
	border: 6px solid #00afce !important;
}

.ci {
	background: #159a80 !important;
}

.ci-warn {
	background: #006b54 !important;
	border: 6px solid rgb(25 171 139) !important;
}

.blinking {
	width: 100%;
	height: 100%;
	-webkit-animation: pulse 1s infinite;
	-moz-animation: pulse 1s infinite;
	-ms-animation: pulse 1s infinite;
	-o-animation: pulse 1s infinite;
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0%,
	49% {
		background-color: #f58091;
		border: 1px solid #f47487;
		color: #fff;
	}
	50%,
	100% {
		background-color: #f47487;
		border: 1px solid #f58091;
		color: #fff;
	}
}

.blinking2 {
	width: 100%;
	height: 100%;
	-webkit-animation: pulse2 1s infinite;
	-moz-animation: pulse2 1s infinite;
	-ms-animation: pulse2 1s infinite;
	-o-animation: pulse2 1s infinite;
	animation: pulse2 1s infinite;
}

@keyframes pulse2 {
	0%,
	49% {
		background-color: #f7b84b;
		border: 1px solid #fbc634;
		color: #fff;
	}
	50%,
	100% {
		background-color: #fbc634;
		border: 1px solid #f7b84b;
		color: #fff;
	}
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1680px) {
	.card-dashpad {
		padding: 0.6rem 1rem 0.3rem 1.3rem;
	}
	.table-responsive {
		overflow: auto !important;
	}
	.dhh {
		min-height: 95px;
	}
	.greyl {
		padding-bottom: 1rem;
	}
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
}

@media screen and (max-width: 1600px) {
	.dh3 {
		font-size: 1.1rem;
	}
	.card-dashpad .avatar-lg {
		height: 3rem !important;
		width: 3rem !important;
	}
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
}

@media screen and (max-width: 1536px) {
	.greyl {
		padding-bottom: 1rem;
	}
	.dhh {
		min-height: 92px;
	}
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
}

@media screen and (max-width: 1440px) {
	.dhh {
		min-height: 88px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.nrp {
		font-size: 13px !important;
	}
	.card-dashpad {
		padding: 0.5rem 0.3rem 0.7rem 1rem !important;
	}
	.dh3 {
		font-size: 1.1rem;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
	.greyl {
		padding-bottom: 1rem;
	}
	.font35 {
		font-size: 28px;
	}
	.avatar-lg {
		margin-top: 4px;
	}
}

@media screen and (max-width: 1366px) {
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
	.dhh {
		min-height: 87px;
	}
	.table-responsive {
		overflow: auto !important;
	}
	.dh3 {
		font-size: 1.1rem;
	}
	.nrp {
		font-size: 13px !important;
	}
	.card-dashpad {
		padding: 0.5rem 0.3rem 0.7rem 0.5rem !important;
	}
	.font35 {
		font-size: 28px !important;
	}
	.font28 {
		font-size: 22px !important;
	}
	.font23 {
		font-size: 18px !important;
	}
	.greyl {
		padding-bottom: 1rem;
	}
}

@media screen and (max-width: 1280px) {
	.avatar-lg {
		margin-top: 4px;
	}
	h3.tdd {
		font-size: 2.5rem;
		margin: 0;
	}
	.card-dashpad .avatar-lg {
		height: 4rem !important;
		width: 4rem !important;
	}
	.sepickchart {
		width: 35%;
	}
	.aw {
		margin-top: -4px;
	}
	.text-mute-blue {
		font-size: 15px;
	}
}
