<div class="modal-header modal-lg">
    <h4 class="modal-title">Row</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">×</button>
</div>
<div class="modal-body p-4 modal-lg">
    <form class="form" role="form" (ngSubmit)="onSubmit()" [formGroup]="Form">

        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">Warehouse Name : <span class="red">*</span></label>
                    <select class="custom-select" name="WarehouseId" formControlName="WarehouseId">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let item of WarehouseList" value="{{item.WarehouseId}}">
                            {{item.WarehouseName}}
                        </option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(FormControl.WarehouseId.touched || submitted) && FormControl.WarehouseId.errors?.required">
                        Warehouse Name is required
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">Building Name : <span class="red">*</span></label>
                    <select class="custom-select" name="WarehouseSub1Id" formControlName="WarehouseSub1Id">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let item of WarehouseSub1List" value="{{item.WarehouseSub1Id}}">
                            {{item.WarehouseSub1Name}}
                        </option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(FormControl.WarehouseSub1Id.touched || submitted) && FormControl.WarehouseSub1Id.errors?.required">
                        Building Name is required
                    </span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">Room Name : <span class="red">*</span></label>
                    <select class="custom-select" name="WarehouseSub2Id" formControlName="WarehouseSub2Id">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let item of WarehouseSub2List" value="{{item.WarehouseSub2Id}}">
                            {{item.WarehouseSub2Name}}
                        </option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(FormControl.WarehouseSub2Id.touched || submitted) && FormControl.WarehouseSub2Id.errors?.required">
                        Room Name is required
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">Shelf Name : <span class="red">*</span></label>
                    <select class="custom-select" name="WarehouseSub3Id" formControlName="WarehouseSub3Id">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let item of WarehouseSub3List" value="{{item.WarehouseSub3Id}}">
                            {{item.WarehouseSub3Name}}
                        </option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(FormControl.WarehouseSub3Id.touched || submitted) && FormControl.WarehouseSub3Id.errors?.required">
                        Shelf Name is required
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="Customer">Row Name : <span class="red">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Row Name" name="WarehouseSub4Name"
                        formControlName="WarehouseSub4Name">
                    <span class="text-danger"
                        *ngIf="(FormControl.WarehouseSub4Name.touched || submitted) && FormControl.WarehouseSub4Name.errors?.required">
                        Row Name is required
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">Rows Count :<span class="red">*</span> </label>
                    <input type="text" class="form-control" placeholder="Enter Rows Count" name="RowIndex"
                        formControlName="RowIndex">
                        <span class="text-danger"
                        *ngIf="(FormControl.RowIndex.touched || submitted) && FormControl.RowIndex.errors?.required">
                        Rows Count is required
                    </span>

                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">Column Count : <span class="red">*</span> </label>
                    <input type="text" class="form-control" placeholder="Enter Column Count" name="ColumnIndex"
                        formControlName="ColumnIndex">
                        <span class="text-danger"
                        *ngIf="(FormControl.ColumnIndex.touched || submitted) && FormControl.ColumnIndex.errors?.required">
                        Column Count is required
                    </span>

                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">Latitude : </label>
                    <input type="text" class="form-control" placeholder="Enter Latitude" name="Latitude"
                        formControlName="Latitude">

                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">Longitude : </label>
                    <input type="text" class="form-control" placeholder="Enter Longitude" name="Longitude"
                        formControlName="Longitude">

                </div>
            </div>
        </div> -->

        <div class="text-right pt-2 mt-0">
            <button type="button" class="btn btn-secondary waves-effect" (click)="modalRef.hide()">Close</button>
            <button class="btn btn-success waves-effect waves-light ml-1">Save</button>
        </div>

    </form>
</div>