<!-- 
    /* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
 -->
<div class="container mt-4 mb-4">
    <div class="row d-flex cart align-items-center justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-6 border-right p-5">
                       <div class="text-center order-details">
                            <div class="d-flex justify-content-center mb-4 flex-column align-items-center">
                                <span class="check1"><i class="fa fa-check"></i></span>
                                <h4 class="font-weight-bold">Order Confirmed</h4>
                                <p class="mt-2">We received your purchase request, we'll be in touch shortly!</p>
                            </div>
                          <button class="btn btn-primary order-button">Return to Shop</button>
                       </div>
                    </div>
                    <div class="col-md-6 p-4 bg-white">
                        <div class="d-flex justify-content-between">
                            <h5 class="m-0 mb-2">Order Details #</h5>
                            <h5 class="m-0">3 days delivery</h5> 
                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <td>Purchased Item(2)</td>
                                <td>$250</td>
                            </tr>
                            <tr>
                                <td>Shipping Cost</td>
                                <td>$10</td>
                            </tr>
                            <tr>
                                <td>VAT</td>
                                <td>$10</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>$270</td>
                            </tr>
                            <tr>
                                <td>Blanket PO</td>
                                <td>$270</td>
                            </tr>
                        </table>
                        <div class="pt-3 pb-4">
                            <h5 class="m-0 mb-2">Ashok Kumar</h5>
                            <p>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>