.ht {
    background: #f8f9fb;
    border: 1px solid #ecedf0;
    padding: 14px 20px 12px 20px;
}

.rc {
    padding: 13px 0px 0px 0px;
}

.ntt {
    padding: 0;
}
.form-group label {
    margin: 0 0 8px;
}
.checkinput{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 10px;}
.rc1 {
    margin: 5px 0px 0px 0px;
    font-weight: 600;
    padding: 7px 10px !important;
    width: 100% !important;
}

.input-group-append {
    width: 17px !important;
    float: right !important;
}

.shipto-vendor .rc label {
    float: none !important;
}

.rc {
    width: 100%;
}