/* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
.act-price {
    font-weight: bold;
    font-size: 28px;
    color: #f15f74;
}

.price {
    font-size: 20px;
}

.dis-price {
    text-decoration: line-through
}

hr {
    border-top: 1px solid #eee;
}

.product_overvie li {
    padding-bottom: 15px;
}

.form-control {
    padding: 0.45rem 0rem 0.45rem 0.9rem !important;
}

.carouselwrap {
    padding: 40px 20px 40px 40px;
}

span.producthighlight {
    color: #fff;
    padding: 5px 15px;
    border-radius: 6px;
    font-size: 21px;
    margin-left: 5px;
}

h3 {
    font-size: 1.3rem;
}

.product_description {
    background: #f3f3f3;
    width: 98%;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #ddd
}

.inner img {
    max-width: 100% !important;
    width: auto !important;
}

.product_description p {
    font-size: 16px;
    color: #727272;
}