.coolQRCode {
    filter: drop-shadow(3px 3px 3px #999);
    img {
        width: 250px;
    }
}

.rrn {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.qr-left {
    width: 50%;
    float: left;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ntt {
    padding: 0;
}

.print-container {
    color: #000000 !important;
    .print-content .ldiv {
        color: #000000 !important;
    }
    .print-content .rdiv {
        color: #000000 !important;
        font-weight: bolder;
    }
}

.qrtable th,
.qrtable td {
    color: #000000 !important;
    text-align: left !important;
    font-family: sans-serif !important;
    padding: 2px 10px !important;
    font-weight: bolder !important;
    font-size: 22px !important;
}

// @media print {
//     .print-content .ldiv {
//         color: #000000 !important;
//     }
//     .print-content .rdiv {
//         color: #000000 !important;
//         font-weight: bolder;
//     }
// }