<form class="form" role="form" (ngSubmit)="onSubmit()" [formGroup]="UserForm">

    <div class="modal-header  modal-xl">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">×</button>
    </div>
    <div class="modal-body p-2 modal-xl">

        <div class="col-xl-12">

            <div class="row">
                <div class="col-xl-12 form-lbox mt-2">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>
                                    Username:
                                </label>
                                <input type="hidden" class="form-control" placeholder="Enter UserId" name="UserId"
                                    formControlName="UserId">

                               <p> {{this.result.Username}}</p>
                            </div>
                        </div>



                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>
                                    New Password : <span class="red">*</span>
                                </label>
                                <input type="password" class="form-control" id="Customer_password"
                                    placeholder="Enter New Password" name="NewPassword" formControlName="NewPassword">


                                <span class="text-danger"
                                    *ngIf="(UserFormControl.NewPassword.touched || submitted) && UserFormControl.NewPassword.errors?.required">
                                    Password is required
                                </span>
                                <span class="text-danger"
                                    *ngIf="UserFormControl.NewPassword.touched && UserFormControl.NewPassword.errors?.invalidPassword">
                                    Password should have minimum 8 characters, at least 1 uppercase
                                    letter, 1
                                    lowercase
                                    letter and 1 number
                                </span>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>
                                    Confirm Password : <span class="red">*</span>
                                </label>
                                <input type="password" class="form-control" id="cendor_cpassword"
                                    placeholder="Enter Confirm Password" name="ConfirmPassword"
                                    formControlName="ConfirmPassword">
                                <span class="text-danger"
                                    *ngIf="(UserFormControl.ConfirmPassword.touched || submitted)&& UserFormControl.ConfirmPassword.errors?.required">
                                    Confirm Password is required
                                </span>
                                <span class="text-danger"
                                    *ngIf="UserFormControl.ConfirmPassword.touched && UserFormControl.ConfirmPassword.errors?.confirmedValidator">
                                    Passwords doesnot match
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer modal-xl">
            <button type="button" class="btn btn-secondary waves-effect" (click)="modalRef.hide()">Close</button>
            <button class="btn btn-success waves-effect waves-light">Save</button>
        </div>
    </div>
</form>