<!-- 
    /* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
 -->
<div class="container-fluid">
    <app-page-title title="Part View"></app-page-title>

  
    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table datatables dt-responsive hover nowrap dataTable no-footer">
                        <thead class="thead-light">
                            <tr>
                                <th>Serial #</th>
                                <th>In Stock</th>
                                <th>Current Location</th>
                                <th>No of Repairs</th>
                                <th>Latest Repair #</th>
                                <th>Attachments</th>
                                <th>Warranty Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Z1803121187</td>
                                <td>Yes</td>
                                <td>Amazon - SMF1 Metro Airpark B-1 >> AMAZON-SL-1>>AMAZON-R1</td>
                                <td>1</td>
                                <td>RR050232</td>
                                <td>3</td>
                                <td>Check</td>
                            </tr>
                            <tr>
                                <td>Z1806221297</td>
                                <td>Yes</td>
                                <td>Amazon DCA1 B-1>>AMAZON DSL8652>>AMAZON DR8145</td>
                                <td>1</td>
                                <td>RR049732</td>
                                <td>3</td>
                                <td>Check</td>
                            </tr>
                            <tr>
                                <td>Z1711290607</td>
                                <td>Yes</td>
                                <td>Amazon DCA1 B-1>>AMAZON DSL8652>>AMAZON DR8145</td>
                                <td>1</td>
                                <td>RR046565</td>
                                <td>3</td>
                                <td>Check</td>
                            </tr>
                            <tr>
                                <td>Z1607260980</td>
                                <td>Yes</td>
                                <td>Amazon CLT2 c/o DTI/Premier B-1>>AMAZON CSL1193>>AMAZON-R1</td>
                                <td>1</td>
                                <td>RR017330</td>
                                <td>3</td>
                                <td>Check</td>
                            </tr>
                            <tr>
                                <td>Z1610130192</td>
                                <td>Yes</td>
                                <td>Amazon-SMF1 Metro Airpark B-1>>AMAZON-SL-1>>AMAZON-R1</td>
                                <td>1</td>
                                <td>RR017329</td>
                                <td>3</td>
                                <td>Check</td>
                            </tr>
                            <tr>
                                <td>Z1912260377</td>
                                <td>No</td>
                                <td>Amazon FAT1 B-1>>AMAZON FSL3337>>AMAZON FR5575</td>
                                <td>1</td>
                                <td>RR059137</td>
                                <td>3</td>
                                <td>Check</td>
                            </tr>
                            <tr>
                                <td>Z1608120702</td>
                                <td>No</td>
                                <td>AH Mound 58>>Shelf 1-A>>Ebay</td>
                                <td>1</td>
                                <td>RR050158</td>
                                <td>3</td>
                                <td>Check</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xl-3">
            <!-- <div class="card-box text-center ribbon-box" *ngIf="InventoryData"> -->
            <div class="card-box text-center ribbon-box">

             <div class="ribbon ribbon-pink float-left"><span>{{viewResult.IsActive ? "Active":
                        "Inactive"}}</span></div>
                <!-- <div class="ribbon ribbon-pink float-left"><span>Active</span></div> -->


                 <img src="{{viewResult.PartImage}}" class="rounded img-thumbnail" alt="Product Image" onerror="this.src = 'assets/images/No Image Available.png';" /> 
                <h4 class="mb-0">{{viewResult.PartNo}}</h4>
                <!-- <p class="text-muted">Added date: {{InventoryData.data.StoreSince | date: "MM/dd/yyyy"}}</p> -->
                <p class="text-muted">Added date : {{viewResult.StoreSince | dateTransform}}</p>

                <div class="text-left mt-3">
                    <h4 class="font-13 text-uppercase">Description:</h4>
                    <!-- <p class=" font-13 mb-3 font-16">
                        {{InventoryData.data.Description}}
                    </p> -->
                    <p class=" font-13 mb-3 font-16"> {{viewResult.Description}} </p>
                </div>
            </div>
            <!-- end card-box -->
        </div>
        <!-- end col-->

        <div class="col-lg-9 col-xl-9">

            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="card-box">
                        <div class="form-horizontal ng-untouched ng-pristine ng-valid p-0" role="form">
                            <div class="col-xl-12">
                                <div class="row ml-1">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <h4><i class="fe-shopping-cart mr-1"></i>Product's Part Details</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-3 col-form-label" for="simpleinput">Part #: </label>
                                            <div class="col-sm-9 col-form-label">
                                                {{viewResult.PartNo}}
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-3 col-form-label" for="simpleinput">Part
                                                Description:</label>
                                            <div class="col-sm-9 col-form-label">
                                                {{viewResult.Description}}
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-3 col-form-label" for="simpleinput">Manufacturer:</label>
                                            <div class="col-sm-9 col-form-label">
                                                {{viewResult.ManufacturerId}}

                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-3 col-form-label" for="simpleinput">Manufacturer Part
                                                No:</label>
                                            <div class="col-sm-9">
                                                {{viewResult.ManufacturerPartNo}}

                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-3 col-form-label" for="simpleinput">Repair Parts
                                                :</label>
                                            <div class="col-sm-9">
                                                {{IsNewOrRefurbished}}

                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-3 col-form-label" for="simpleinput">Currency:</label>
                                            <div class="col-sm-9">
                                                {{viewResult.LocalCurrencyCode}}

                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="card-box">
                        <div class="form-horizontal ng-untouched ng-pristine ng-valid p-0" novalidate="" role="form">
                            <div class="col-xl-12">
                                <div class="row ml-1">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <h4><i class="fe-shopping-cart mr-1"></i>Other Info</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Issue Unit Of
                                                Measure:
                                                </label>
                                            <div class="col-sm-8 col-form-label">
                                               {{viewResult.UnitType}}
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Date Added:</label>
                                            <div class="col-sm-8 col-form-label">
                                                {{viewResult.StoreSince | dateTransform}}

                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Preferred
                                                Vendor:</label>
                                            <div class="col-sm-8 col-form-label">
                                            {{viewResult.PrimaryVendorI}}
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Tax Type:</label>
                                            <div class="col-sm-8 col-form-label">
                                              {{viewResult.TaxType}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="card-box">
                        <div class="form-horizontal ng-untouched ng-pristine ng-valid p-0" novalidate="" role="form">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <h4><i class="mdi mdi-information mr-1"></i>Master PON</h4>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Price(PON):
                                                </label>
                                            <div class="col-sm-8 col-form-label">
                                                {{BaseCurrencySymbol}} {{viewResult.Price}}
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row mb-0">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Selling Price:
                                                </label>
                                            <div class="col-sm-8 col-form-label">
                                                {{CurrencySymbol}} {{viewResult.SellingPrice}}&nbsp;&nbsp;{{BaseCurrencySymbol}}{{viewResult.BaseSellingPrice}}
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Description:</label>
                                            <div class="col-sm-8 col-form-label">
                                                {{viewResult.SellingPriceDescription}}

                                            </div>
                                        </div> -->

                                    </div>

                                    <!-- <div class="col-xl-6">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <h4><i class="mdi mdi-information mr-1"></i>Purchase Information</h4>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Buying
                                                Price:</label>
                                            <div class="col-sm-8 col-form-label" >
                                                {{CurrencySymbol}} {{viewResult.BuyingPrice}}&nbsp;&nbsp;{{BaseCurrencySymbol}} {{viewResult.BaseBuyingPrice}}

                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-4 col-form-label" for="simpleinput">Description:</label>
                                            <div class="col-sm-8 col-form-label">
                                                {{viewResult.BuyingPriceDescription}}

                                            </div>
                                        </div>

                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 text-center">
                    <input class="btn btn-bordered-primary waves-effect width-md waves-light mr-1" type="button" value="Submit">
                    <input class="btn btn-bordered-secondary waves-effect width-md waves-light" type="button" value="Cancel" (click)="onback()">
                </div>
            </div>

        </div>
    </div>

</div>
