/* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
@import 'ngx-lightbox/lightbox.css';

a .root {
    color: #09518e;
    text-decoration: none;
    background-color: transparent;
    cursor:pointer !important;
}