/* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
.addrrbtn {
    float: right;
    background: #38414a !important;
    padding: 0.28rem 0.8rem;
    font-size: 0.7875rem;
    line-height: 1.5;
    margin-left: 10px;
}