hr {
    border-top: 1px solid #eee;
}
.remove_btn i {
    color: #f60909;
    font-size: 15px;
}

.remove_btn {
    padding: 0;
    outline: none;
    border: none;
    line-height: 0px;
}
.form-control{
    padding: 0.45rem 0rem 0.45rem 0.9rem !important;
}