.product_img {
    height: 250px;
    width: 100%;
}
.product_title {
    min-height: 117px;
}
.product_card {
    background: #fff;
    padding: 15px 15px 25px 15px;
    border-radius: 6px;
    border: 1px solid #eee;
    transition: 0.5s;
    &:hover {
        box-shadow: 0 0 10px #bbb;
    }
    .product_title h3 {
        font-size: 18px;
        text-align: center;
    }
    .product_title h5 {
        text-align: center;
    }
    .product_meta p {
        color: #444;
    }
    .product_details {
        // align-items: center;
        // display: flex;
        // justify-content: space-between;
        background: #f5f5f5;
        padding: 7px 10px;
        border-radius: 6px;
    }
    .product_meta {
        margin-bottom: 0px;
        h4 {
            margin-top: 0px;
            font-size: 16px;
        }
        p {
            margin-bottom: 0px;
            font-size: 13px;
        }
    }
}

.ribbon-box .ribbon.float-left {
    margin-left: -25px !important;
}

.ribbon-box .ribbon-two span {
    font-size: 11px !important;
}

.btn-primary.load_more {
    padding: 10px 50px;
}

.divFixedMaxHeight {
    // height: 500px;
    max-height: 500px;
    overflow: scroll;
}

.product_sidebar {
    background: #fff;
    padding: 20px;
    .widget_wrap h3 {
        margin: 0;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .widget_wrap ul {
        padding: 0 0 0 5px;
        li {
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            list-style: none;
            &:last-child {
                border: none;
            }
        }
        a {
            color: #666;
            font-weight: 500;
            &:hover {
                color: #09518e;
            }
            i {
                color: #09518e;
                margin-right: 8px;
            }
        }
    }
}

// .product_img .img-fluid {
//     max-width: 100%;
//     height: 250px !important;
//     margin: 0 auto;
//     display: flex;
// }
.product_img .img-fluid {
    height: 100% !important;
    margin: 0 auto;
    width: auto;
    display: block;
    object-fit: scale-down;
}