.ht {background: #f8f9fb; border: 1px solid #ecedf0; padding: 14px 20px 12px 20px; }
.rc {padding: 13px 0px 0px 0px; }
.rc1 {padding: 30px 0px 0px 0px; }
.rclr {color: #ff0000; font-weight: 500;}
.input-group-append {width: 17px !important; float: right !important;}