/* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
hr {
    border-top: 1px solid #eee;
}
.bg-light .list-group-item{
    background: transparent;
}
.table  thead  th{
    background-color: #f1f5f7;
}
.c_header{
    color: #6c757d;
    background-color: #f1f5f7;
    border-bottom: 2px solid #dee2e6;
}