<div class="modal-header modal-lg">
    <h4 class="modal-title">Edit User Role</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">×</button>
</div>
<div class="modal-body p-4 modal-lg">
    <form class="form" role="form" (ngSubmit)="onSubmit()" [formGroup]="EditForm">

        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="Customer">User Role: <span class="red">*</span></label>
                    <input type="hidden" class="form-control" placeholder="Enter RoleId" name="RoleId" formControlName="RoleId">
                    <input type="text" class="form-control" placeholder="Enter User Role" name="RoleName" formControlName="RoleName">
                    <span class="text-danger" *ngIf="(EditControl.RoleName.touched || submitted) && EditControl.RoleName.errors?.required">
                        User Role Name is required
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label> Role Description:</label>
                    <textarea class="form-control" row="2"  formControlName="RoleDescription"
                        name="RoleDescription"></textarea>
                </div>
            </div>
        </div>

        <div class="text-right pt-2 mt-0">
            <button type="button" class="btn btn-secondary waves-effect" (click)="modalRef.hide()">Close</button>
            <button class="btn btn-success waves-effect waves-light ml-1">Save</button>
        </div>

    </form>
</div>