<div class="modal-header modal-lg">
    <h4 class="modal-title">Repair Request QR Code</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">×</button>
</div>
<div class="modal-body modal-lg {{containerClass}}" *ngIf="show">
    <form class="form" role="form">

        <div class="row print-content" style="font-family: sans-serif !important" id="print-content">
            <div class="col-12 mt-2" *ngFor="let rr of RRDetails">
                <!--<div class="col-4 float-left">-->
                <div style="width:35%;float:left">
                    <qrcode cssClass="coolQRCode" qrdata="{{rr.RRInfo[0].RRNo}}" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'img'">
                    </qrcode>
                </div>
                <!-- <div class="col-8 float-left"> -->
                <div style="width:65%;float:left">
                    <div class="row">
                        <div style="width:99%;float:left">
                            <div class="ldiv" style="color: #000000;width:49%;float:left;font-family:sans-serif !important; font-weight:bolder; font-size:26px;font-weight:700;margin-top:29px;padding: 10px 0 10px 1%;">
                                Repair Request No:</div>
                            <div class="rdiv" style="color: #000000;width:50%;float:left;font-family:sans-serif !important; font-weight:bolder; font-size:30px; font-weight: bold;margin-top:25px; margin-left: 0; padding: 10px 0;">
                                {{rr.RRInfo[0].RRNo}}</div>

                            <table style="color: #000000;width:99%;" class="table-bordered table qrtable nowrap">
                                <tbody>
                                    <tr>
                                        <th>Part No:</th>
                                        <td>{{rr.RRInfo[0].PartNo}}</td>
                                    </tr>
                                    <!-- <tr>
                                                    <th>Repair Request No:</th>
                                                    <td class="greyblack">{{RepairRequestNo}}</td>
                                                </tr> -->
                                    <tr>
                                        <th>Serial No:</th>
                                        <td>{{rr.RRInfo[0].SerialNo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <hr class="my-12"/>
            </div>
        </div>
        <div class="text-right pt-2 mt-0">
            <button type="button" class="btn btn-secondary waves-effect" (click)="modalRef.hide()">Close</button>
            <!-- <button class="btn btn-success waves-effect waves-light ml-1" (click)="onSubmit()">Print</button> -->
            <button class="btn btn-warning waves-effect waves-light ml-1" (click)="onSubmit1()">Print</button>
            <button class="btn btn-primary waves-effect waves-light ml-1" (click)="viewQrCodeofCustomerRef()">Print</button>
            <button class="btn btn-purple waves-effect waves-light ml-1" (click)="onPrint()">Print 4x2</button>

            <!-- <button ngbTooltip="Export to PDF" placement="top" value="Download" class="btn btn-icon waves-effect" (click)="generatePDF()" title="Export to PDF">
                <i class="mdi mdi-file-pdf-outline"></i></button> -->
        </div>
    </form>
</div>


<div class="modal-body modal-lg {{containerClass}}" *ngIf="hidden">
    <form class="form" role="form">

        <div class="row print-content" style="font-family: sans-serif !important" id="print-content">
            <div class="col-12 mt-2" *ngFor="let rr of RRDetails">
                <!--<div class="col-4 float-left">-->
                <div style="width:35%;float:left;margin-top:-16px">
                    <qrcode cssClass="coolQRCode" qrdata="{{rr.RRInfo[0].RRNo}}" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'img'">
                    </qrcode>
                </div>
                <!-- <div class="col-8 float-left"> -->
                <div style="width:65%;float:left;margin-top:-27px">
                    <div class="row">
                        <div style="width:99%;float:left">
                            <div class="ldiv" id="id1" style="color: #000000;width:49%;float:left;font-family:sans-serif !important; font-weight:bold; font-size:26px;font-weight: 500;margin-top:25px;padding: 10px 0 10px 1%;">
                                Repair Request No:</div>
                            <div class="rdiv" style="color: #000000;width:50%;float:left;font-family:sans-serif !important; font-weight:bold; font-size: 26px; font-weight: 500;margin-top:25px; margin-left: 0; padding: 10px 0;">
                                {{rr.RRInfo[0].RRNo}}</div>

                            <table style="color: #000000;width:99%;" class="table-bordered table qrtable nowrap">
                                <tbody>
                                    <tr>
                                        <th style="color: #000000;text-align: left; padding:5px 10px; font-family:sans-serif !important; font-weight:bold; font-size:18px;">
                                            Part No:</th>
                                        <td style="color: #000000;text-align: left;  padding:5px 10px; font-family:sans-serif !important; font-weight:bold; font-size:22px;">
                                            {{rr.RRInfo[0].PartNo}}
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                                    <th>Repair Request No:</th>
                                                    <td class="greyblack">{{RepairRequestNo}}</td>
                                                </tr> -->
                                    <tr>
                                        <th style="color: #000000;text-align: left;font-family:sans-serif !important; padding: 5px 10px; font-weight:bold; font-size:18px;">
                                            Serial No:</th>
                                        <td style="color: #000000;text-align: left;font-family:sans-serif !important; padding: 5px 10px; font-weight:bold; font-size:22px;">
                                            {{rr.RRInfo[0].SerialNo}}
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of rr.CustomerRefList; let i = index;">
                                        <th style="color: #000000;text-align: left;font-family:sans-serif !important; padding: 5px 10px; font-weight:bold; font-size:18px;">
                                            Customer Reference {{i+1}}:</th>
                                        <td style="color: #000000;text-align: left;font-family:sans-serif !important; padding: 5px 10px; font-weight:bold; font-size:18px;">
                                            {{item.ReferenceLabelName}}
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <th
                                            style="color: #000000;text-align: left;font-family:sans-serif !important; padding: 5px 10px; font-weight:bold; font-size:23px;">
                                            Customer:</th>
                                        <td
                                            style="color: #000000;text-align: left;font-family:sans-serif !important; padding: 5px 10px; font-weight:bold; font-size:23px;">
                                            {{CompanyName}}
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <hr class="my-12"/>
            </div>
        </div>
        <div class="text-right pt-2 mt-0">
            <button type="button" class="btn btn-secondary waves-effect" (click)="modalRef.hide()">Close</button>
            <!-- <button class="btn btn-success waves-effect waves-light ml-1" (click)="onSubmit()">Print</button> -->
            <button class="btn btn-warning waves-effect waves-light ml-1" (click)="onSubmit1()">Print</button>
            <button class="btn btn-primary waves-effect waves-light ml-1" (click)="onSubmit()">Print</button>

            <!-- <button ngbTooltip="Export to PDF" placement="top" value="Download" class="btn btn-icon waves-effect" (click)="generatePDF()" title="Export to PDF">
                <i class="mdi mdi-file-pdf-outline"></i></button> -->
        </div>
    </form>
</div>