/* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
.footer {
    color: #7f7f7f;
  }
  
  .footer p {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .footer p a {
    padding-left: 25px;
  }