
.r-details {
    background-color: #f3f3f3;
    padding: 12px;
}

.pop-scroll .form-group {
    margin-bottom: 0.9rem;
    text-transform: capitalize;
}

.pop-scroll .control-label {
    color: #09518e !important;
}

.modal-footer {
    background: #f3f3f3;
}

.pop-scroll .form-group label {
    color: #09518e;
    padding-bottom: 5px;
}

.pop-scroll {
    height: auto;
}