.thead-blue {
    background-color: #09518e;
    color: #ffffff;
}

.avatar-sm {
    margin-right: 10px;
}

@media screen and (max-width:1024px) {
    .ttddhh {
        font-size: 23px;
    }
    .count-txt {
        font-size: 1.6rem;
    }
    .countwrap .header-title {
        min-height: 35px;
        font-size: 0.95rem;
    }
    .countwrap p {
        font-size: 12px;
    }
    .countwrap {
        margin-bottom: 0;
    }
    .topvendors {
        padding-bottom: 0 !important;
    }
}

@media screen and (max-width:640px) {
    .countwrap.table th,
    .table td {
        padding: 10px 3px 10px 5px;
    }
    .countwrap {
        margin-left: -7px;
    }
    .countwrap .header-title {
        min-height: 35px;
        font-size: 0.85rem;
    }
    .countwrap .card-box {
        padding: 1rem !important;
    }
    .fc-toolbar-title {
        margin: 10px 0 !important;
    }
}