/* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
.gridview-ico {
    float: right;
    padding-top: 22px;
    padding-right: 4px;
    cursor: pointer;
}

div#datatable-angular_wrapper table {
    width: 100% !important;
}

table#datatable-angular {
    width: 100% !important;
}