.nopad-lt {
    padding-left: 0;
}

/* Border Color */
.ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: red;
}
/* Arrow Color */
.ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow {
    border-color: red transparent transparent;
}
/* Placeholder Color */
.ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder {
    color: red;
}
.autocomplete-container .input-container .x {
    position: absolute;
    right: 7px;
    margin: auto;
    cursor: pointer;
  
    transform: translateY(-50%);
    margin-top: -29px!important;
}
