.bst {
    color: #6e768e;
    margin-top: 17px;
}
.topright-wrap .ng-select{width:305px;}
.navbar-custom .app-search{margin-right:0 !important}
.ng-dropdown-panel .ng-dropdown-header{ background-color: #fff !important;}
.topright-wrap .ng-select .ng-select-container{margin-top:20px !important}
.navbar-custom .app-search{height: auto !important;}
button.btn.btn-sm.btn-link {
    background-color: transparent !important;
    color:#09518e !important;
}

.badge {
    position: relative;
    top: -11px;
    left: -4px;
    // border: 1px solid black;
    border-radius: 50%;
}
.alert-custom{
    width: 100% !important;
    margin-bottom: 0px !important
}