<!-- 
    /* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
 -->
<div class="sideNavcontainer">
    <app-page-title title="Sales Order List"></app-page-title>

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-xl-3 sales-left d-print-none">

                        <h2>
                            <div class="btn-group btn-group-sm all-togg mbg" style="padding-top: 10px;">
                                <ng-template [ngTemplateOutlet]="SearchBar"></ng-template>&nbsp;
                            </div>



                            &nbsp;&nbsp;
                            <div class="btn-group btn-group-sm all-togg mbg" style="padding-top: 10px;">
                                <button style="padding:8px 12px 3px;" ngbTooltip="Print"
                                    onclick="javascript:window.print()" placement="top"
                                    class="btn btn-icon waves-effect" title="Print">
                                    <i style="font-size: 18px;" class="fe-printer"></i></button>
                            </div>
                            &nbsp;&nbsp;
                            <!-- <div class="btn-group btn-group-sm all-togg mbg" style="padding-top: 10px;">
                                <button ngbTooltip="Excel" placement="top" class="btn btn-icon waves-effect"
                                    title="Excel" type="button">
                                    <i style="font-size:20px;" class="far fa-file-excel"></i></button>
                            </div> -->

                        </h2>

                        <div class="scrollbar">
                            <div class="table-responsive">
                                <table id="datatable-angular" datatable [dtOptions]="dtOptions"
                                    class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Sales Order List</th>
                                            <th>SONo</th>
                                            <th>Status</th>
                                            <th>DateRequested</th>
                                            <th>GrandTotal</th>
                                            <th>RRNo</th>
                                            <th>So Type</th>
                                            <th>Quote No</th>
                                            <th>CustomerPONo</th>
                                            <th>DueDateTo</th>
                                            <th>DueDate</th>
                                            <th>DateRequestedTo</th>
                                        </tr>
                                    </thead>


                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-9 sales-right">
                        <ng-container [ngTemplateOutlet]="templateSettings"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table Action -->
<ng-template #SearchBar>
    <div class="btn-group dropdown" ngbDropdown>
        <a (click)="EnableSearch()" class="dropdown-toggle arrow-none btn btn-icon btn-sm" ngbDropdownToggle
            data-toggle="dropdown" aria-expanded="false"><i class="remixicon-search-line"></i> Search</a>
        <div class="dropdown-menu dropdown-menu-right mt-0" ngbDropdownMenu *ngIf="showSearch">

            <div class="row collapse show searchbox">
                <!-- Row 1-->

                <div class="col-12 col-xl-6">
                    <label class="control-label">Repair Request # </label>
                    <input type="text" class="form-control" placeholder="Enter Repair Request #" [(ngModel)]="RRNo">
                </div>

                <div class="col-12 col-xl-6">
                    <label class="control-label">Sales Order #</label>
                    <input type="text" class="form-control" placeholder="Enter Sales Order #" [(ngModel)]="SONo">
                </div>


                <div class="col-12 col-xl-6  mt-15">
                    <label class="control-label">Customer PO #</label>
                    <input type="text" class="form-control" placeholder="Enter Customer PO #"
                        [(ngModel)]="CustomerPONo">
                </div>

                <div class="col-12 col-xl-6  mt-15">
                    <label class="control-label">Quote #</label>
                    <input type="text" class="form-control" placeholder="Enter Quote #" [(ngModel)]="QuoteNo">
                </div>





                <div class="col-12 col-xl-6 mt-15">
                    <label class="control-label">Requested Date From</label>
                    <div class="input-group clockpicker">
                        <input ngbDatepicker class="form-control" [(ngModel)]="Requesteddate"
                            (ngModelChange)="RequesteddateFormat(Requesteddate)" autoClose="false"
                            placeholder="MM/DD/YYYY" #Requested_Date_from="ngbDatepicker">
                        <div class="input-group-append" (click)="Requested_Date_from.toggle()">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-15">
                    <label class="control-label">Requested Date To</label>
                    <div class="input-group clockpicker">
                        <input ngbDatepicker class="form-control" [(ngModel)]="RequestedDateTo"
                            (ngModelChange)="RequestedDateToFormat(RequestedDateTo)" autoClose="false"
                            placeholder="MM/DD/YYYY" #Requested_Date_to="ngbDatepicker">
                        <div class="input-group-append" (click)="Requested_Date_to.toggle()">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-15">
                    <label class="control-label">Due Date From</label>
                    <div class="input-group clockpicker">
                        <input ngbDatepicker class="form-control" [(ngModel)]="Duedate"
                            (ngModelChange)="DuedateFormat(Duedate)" autoClose="false" placeholder="MM/DD/YYYY"
                            #Due_Date_from="ngbDatepicker">
                        <div class="input-group-append" (click)="Due_Date_from.toggle()">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-15">
                    <label class="control-label">Due Date To</label>
                    <div class="input-group clockpicker">
                        <input ngbDatepicker class="form-control" [(ngModel)]="DueDateTo"
                            (ngModelChange)="DueDateToFormat(DueDateTo)" autoClose="false" placeholder="MM/DD/YYYY"
                            #Due_Date_to="ngbDatepicker">
                        <div class="input-group-append" (click)="Due_Date_to.toggle()">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-6 mt-15">
                    <label class="control-label">SO Type</label>
                    <select class="custom-select" [(ngModel)]="SOType">
                        <option value="undefined">Select</option>
                        <option *ngFor="let SO_Type of SalesOrderType" value="{{SO_Type.SalesOrder_TypeId}}">
                            {{SO_Type.SalesOrder_TypeName}}</option>

                    </select>
                </div>

                <div class="col-12 col-xl-6 mt-15">
                    <label class="control-label">Status</label>
                    <select class="custom-select" [(ngModel)]="Status">
                        <option value="undefined">Select</option>
                        <option *ngFor="let SO_status of SalesOrderStatus" value="{{SO_status.Saleorder_StateId}}">
                            {{SO_status.Saleorder_StateName}}</option>

                    </select>
                </div>
                <div class="col-12 col-xl-6 mt-15">
                    <input type="button" class="btn btn-primary btn-md mr-2" value="Search"
                        (click)="onFilter($event)" />
                    <input type="button" class="btn btn-secondary btn-md mr-2" value="Clear"
                        (click)="onClear($event)" />
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #viewTemplate>
    <div class="row mb-10 d-print-none">
        <div class="col-xl-6 col-md-6">
            <h2>Sales Order #{{number}}</h2>
        </div>
        <div class="col-xl-6 col-md-6">
            <div class="btn-group btn-group-sm float-right" role="group">

                <button ngbTooltip="Export to PDF" placement="top" value="Download" class="btn btn-icon waves-effect"
                    (click)="generatePDF()" title="Export to PDF">
                    <i class="mdi mdi-file-pdf-outline"></i></button>
                <button ngbTooltip="Print" onclick="javascript:window.print()" placement="top"
                    class="btn btn-icon waves-effect" title="Print">
                    <i class="fe-printer "></i></button>



            </div>
        </div>
    </div>

    <div class="row mt-20">
        <div class="col-12">
            <div class="card-box nopad">
                <!-- Logo & title -->
                <div id="contentToConvert" [ngClass]="(hideAddress==false)?'col-12 pdfwrap black':'col-12 pdfwrap'">
                    <div class="row">
                        <div class="col-sm-6 col-xl-3">
                            <div class="clearfix">
                                <div class="float-left">
                                    <img src="assets/images/ah_logo.png" alt="" height="35">
                                </div>

                            </div>
                            <div class="mt-3 ccs">
                                <p><b>Sales Order #{{number}}</b>
                                </p>
                                <div class="button-list">
                                    <button type="button"
                                        class="btn btn-success waves-effect waves-light btntype">{{SalesOrderInfo.SOTypeName}}</button>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6 col-xl-5">
                            <div class="mt-6 row">

                                <div class="col-xl-5 col-md-5 ccs">
                                    <p class="m-b-10 text-right"><strong>Customer : </strong></p>
                                </div>
                                <div class="col-xl-7 col-md-7">
                                    <p class="m-b-10"><span class="customerbg">{{SalesOrderInfo.CompanyName}}</span>
                                    </p>
                                </div>

                                <div class="col-xl-5 col-md-5 ccs">
                                    <p class="m-b-10 text-right"><strong>Current Status : </strong></p>
                                </div>
                                <div class="col-xl-7 col-md-7">
                                    <p class="m-b-10"><span class="approvebg">{{SalesOrderInfo.StatusName}}</span>
                                    </p>
                                </div>
                                <div class="col-xl-3 col-md-5">
                                    &nbsp;
                                </div>
                                <div class="col-xl-9 col-md-7" *ngIf="RRId !=0">
                                    <p class="m-b-10"><span class="Repair">{{repairMessage}}</span></p>

                                </div>
                            </div>
                        </div>

                        <!-- end col -->
                        <div class="col-sm-12 col-12 col-xl-4">
                            <div class="row">
                                <div class="col-lg-12 bill1">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-7 f-left text-right">
                                        <p><b>Requested Date :</b></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-5 f-left">
                                        <p>{{SalesOrderInfo.DateRequested|dateTransform}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 bill1">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-7 f-left text-right">
                                        <p><b>Due Date :</b></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-5 f-left">
                                        <p>{{SalesOrderInfo.DueDate|dateTransform}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 bill1">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-7 f-left text-right">
                                        <p><b>Customer PO # :</b></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-5 f-left">
                                        <p>{{SalesOrderInfo.CustomerPONo || "-"}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 bill1">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-7 f-left text-right">
                                        <p><b>Reference # :</b></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-5 f-left">
                                        <p>{{SalesOrderInfo.ReferenceNo || '-'}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 bill1">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-7 f-left text-right">
                                        <p><b>Warehouse Name :</b></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-5 f-left">
                                        <p>{{SalesOrderInfo.WarehouseName || '-'}}</p>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row mt-2">
                        <div class="col-sm-6 col-xl-4">
                            <h5>Billing Address</h5>
                            <address *ngIf="BillingAddress!=''">
                                {{BillingAddress.StreetAddress}}, {{BillingAddress.SuiteOrApt}}
                                {{BillingAddress.City}}<br>
                                {{BillingAddress.StateName}}, {{BillingAddress.CountryName}} - {{BillingAddress.Zip}}
                                <span><br><i class="mdi mdi-phone mr-1" ngbTooltip="Primary"
                                        *ngIf="PhoneBillingAddress!=''||PhoneBillingAddress!=null"></i>
                                    {{BillingAddress.Phone}}</span>
                                <span><br><i class="mdi mdi-fax mr-1" *ngIf="faxBillingAddress!=''"></i>
                                    {{BillingAddress.Fax}}</span><br>
                            </address>
                        </div>
                        <!-- end col -->

                        <div class="col-sm-6 col-xl-4 text-left">
                            <!-- <div *ngIf="hideAddress"> -->
                            <h5>Shipping Address</h5>
                            <address *ngIf="ShippingAddress!=''">
                                {{ShippingAddress.StreetAddress}}, {{ShippingAddress.SuiteOrApt}}
                                {{ShippingAddress.City}}<br>
                                {{ShippingAddress.StateName}},
                                {{ShippingAddress.CountryName}} - {{ShippingAddress.Zip}}
                                <span><br><i class="mdi mdi-phone mr-1" ngbTooltip="Primary"
                                        *ngIf="PhoneShippingAddress!=''"></i>
                                    {{ShippingAddress.Phone }}</span>
                                <span><br><i class="mdi mdi-fax mr-1" *ngIf="faxShippingAddress!=''"></i>
                                    {{ShippingAddress.Fax}}</span><br>
                            </address>
                            <!-- <h5>Shipping Method:</h5> -->
                            <!-- </div> -->
                        </div>
                        <!-- end col -->
                        <div class="col-sm-12 col-xl-4">
                            <div class="mt-3 float-right sales-table">
                                <div class="table-responsive">
                                    <table class="table table-borderless bill2 mb-0">
                                        <tbody>
                                            <tr>
                                                <th align="right" scope="row">
                                                    <p><b>Sales Order No :</b></p>
                                                </th>
                                                <td>
                                                    <p>{{SalesOrderInfo.SONo}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align="right" scope="row">
                                                    <p><b>Sales Person Name :</b></p>
                                                </th>
                                                <td>
                                                    <p>David</p>
                                                </td>
                                            </tr>

                                            <tr *ngIf="RRId !=0">
                                                <th align="right" scope="row">
                                                    <p><b>Repair Request No :</b></p>
                                                </th>
                                                <td>
                                                    <a (click)="backToRRView()" routerLink="#">
                                                        <p>{{SalesOrderInfo.RRNo}}</p>
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th align="right" scope="row">
                                                    <p><b>Purchase Order # :</b></p>
                                                </th>
                                                <td>
                                                    <a routerLink="/admin/orders/purchase-list">
                                                        <p>{{SalesOrderInfo.CustomerPONo}}</p>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row" *ngIf="SalesOrderCustomerRef.length>0">
                        <div class="col-12">
                            <h5>Customer Reference:</h5>

                            <div class="col-lg-6 col-md-6 col-sm-6 crd Bill">
                                <div class="fw100" *ngFor="let item of SalesOrderCustomerRef; let i=index">

                                    <p>{{item.ReferenceLabelName}} : {{item.ReferenceValue}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="RRId !=0">
                        <div class="col-12 ">
                            <h5>Root Cause</h5>
                            {{SalesOrderInfo.RouteCause||'-'}}
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12 mb20 text-left">
                            <h5>Notes</h5>
                            {{SalesOrderInfo.Notes||'-'}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <h5>Customer Quote</h5>
                            <div class="table-responsive">
                                <table class="table mt-2 table-bordered mb-0 print-table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th width="15%">Part #</th>
                                            <th width="31%">Part Description</th>
                                            <th width="10%">Lead Time</th>
                                            <th width="11%">Quantity</th>
                                            <th width="11%">Rate</th>
                                            <th width="11%">Price</th>
                                            <th width="11%">Warranty Period</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of SalesOrderItem">
                                        <tr>

                                            <td>{{item.PartNo}}</td>
                                            <td>{{item.Description}}</td>
                                            <td>
                                                <p *ngIf="item.LeadTime !=''">{{item.LeadTime}} Days</p>
                                                <p *ngIf="item.LeadTime ==''">-</p>
                                            </td>
                                            <td>{{item.Quantity}}</td>
                                            <td>$ {{item.Rate}}</td>
                                            <td>$ {{item.Price}}</td>
                                            <td>{{item.WarrantyPeriod | monthTransform }}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row ">
                        <!-- end col -->
                        <div class="col-sm-12">
                            <div class="text-right">
                                <div class="table-responsive">
                                    <table class="table table-borderless bill mb-0">
                                        <tbody>
                                            <tr>
                                                <th width="90%" align="right" scope="row">
                                                    <p><b>Sub Total :</b></p>
                                                </th>
                                                <td>
                                                    <p>$ {{SalesOrderInfo.SubTotal}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align="right" scope="row">
                                                    <p><b>AH Processing Fee :</b></p>
                                                </th>
                                                <td>
                                                    <p>$ {{SalesOrderInfo.AHFees}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align="right" scope="row">
                                                    <p><b>Total Tax :</b></p>
                                                </th>
                                                <td>
                                                    <p>$ {{SalesOrderInfo.TotalTax}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align="right" scope="row">
                                                    <p><b>Discount :</b></p>
                                                </th>
                                                <td>
                                                    <p>$ {{SalesOrderInfo.Discount}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align="right" scope="row">
                                                    <p><b>Shipping :</b></p>
                                                </th>
                                                <td>
                                                    <p>$ {{SalesOrderInfo.Shipping}}</p>
                                                </td>
                                            </tr>
                                            <tr class="grandouter">
                                                <th align="right" scope="row">
                                                    <p><b>Grand Total :</b></p>
                                                </th>
                                                <td>
                                                    <p>$ {{SalesOrderInfo.GrandTotal}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>






                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- end col -->
                    </div>

                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="clearfix pt-3">
                                <h6 class="text-muted">Notes:</h6>
                                <small class="text-muted linebreak">
                                    {{SalesOrder_notes}}
                                </small>
                                <br>
                                <small class="text-muted linebreak" *ngFor="let note of NotesList">
                                    <br>
                                    {{note.Notes}}
                                </small>
                                <small class="text-muted linebreak smallfont" *ngFor="let note of RRNotesList">
                                    <br>
                                    {{note.Notes}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="hideAddress">
                        <div class="col-sm-12">
                            <div class="clearfix pt-3">
                                <h6>Attachment:</h6>
                                <div style="padding-bottom:15px;" class="row">

                                    <div style="margin-bottom:40px;" class="col-sm-3"
                                        *ngFor="let vattachment of AttachmentList; let i = index;">
                                        <div class="box h-100 d-flex justify-content-center flex-column brdimg">
                                            <span *ngIf="vattachment.AttachmentMimeType == 'application/pdf'">
                                                <a href="{{vattachment.Attachment}}" target="_blank">
                                                    <img src="assets/images/attachment/{{attachmentThumb['application/pdf'].thumb}}"
                                                        class="img-fluid"
                                                        ngbTooltip="{{vattachment.AttachmentOriginalFile}}" width="200"
                                                        alt="work-thumbnail">
                                                </a>
                                            </span>
                                            <span *ngIf="vattachment.AttachmentMimeType == 'image/jpeg'">
                                                <a href="{{vattachment.Attachment}}" target="_blank">
                                                    <img src="{{vattachment.Attachment}}" class="img-fluid"
                                                        ngbTooltip="{{vattachment.AttachmentOriginalFile}}" width="200"
                                                        alt="work-thumbnail">
                                                </a>
                                            </span>
                                            <span *ngIf="vattachment.AttachmentMimeType == 'image/png'">
                                                <a href="{{vattachment.Attachment}}" target="_blank">
                                                    <img src="{{vattachment.Attachment}}" class="img-fluid"
                                                        ngbTooltip="{{vattachment.AttachmentOriginalFile}}" width="200"
                                                        alt="work-thumbnail">
                                                </a>
                                            </span>
                                            <span *ngIf="vattachment.AttachmentMimeType == 'application/msword'">
                                                <a href="{{vattachment.Attachment}}" target="_blank">
                                                    <img src="assets/images/attachment/{{attachmentThumb['application/msword'].thumb}}"
                                                        class="img-fluid"
                                                        ngbTooltip="{{vattachment.AttachmentOriginalFile}}" width="200"
                                                        alt="work-thumbnail">
                                                </a>
                                            </span>
                                            <span *ngIf="vattachment.AttachmentMimeType == 'application/vnd.ms-excel'">
                                                <a href="{{vattachment.Attachment}}" target="_blank">
                                                    <img src="assets/images/attachment/{{attachmentThumb['application/vnd.ms-excel'].thumb}}"
                                                        class="img-fluid"
                                                        ngbTooltip="{{vattachment.AttachmentOriginalFile}}" width="200"
                                                        alt="work-thumbnail">
                                                </a>
                                            </span>
                                            <span *ngIf="vattachment.AttachmentMimeType == 'text/csv'">
                                                <a href="{{vattachment.Attachment}}" target="_blank">
                                                    <img src="assets/images/attachment/{{attachmentThumb['text/csv'].thumb}}"
                                                        class="img-fluid"
                                                        ngbTooltip="{{vattachment.AttachmentOriginalFile}}" width="200"
                                                        alt="work-thumbnail">
                                                </a>
                                            </span>
                                        </div>
                                        <p class="mb-0">
                                            <code class="text-primary">{{vattachment.AttachmentDesc}}</code>
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-box -->
            </div>
        </div>
        <!-- end col -->
    </div>

</ng-template>






<ngx-spinner #ngxSpinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise"
    [fullScreen]="true"></ngx-spinner>