<div class="modal-header">
    <h4 class="modal-title">Revert Status History</h4>
    <button type="button" class="close" aria-hidden="true" (click)="modalRef.hide()">×</button>
</div>
<div class="modal-body p-6 mt-2">
    <ul class="list-unstyled timeline-sm" *ngFor="let item of RRRevertHistory">
        <li class="timeline-sm-item">
            <span class="timeline-sm-date">{{item.Created|dateTransform}}<br>{{item.Created|date:'shortTime'}}</span>
            <h5 class="mt-0 mb-1">{{item.FromStatus}} => {{item.ToStatus}}</h5>
            <p>Changed By: <span class="badge badge-light-primary">{{item.UserName}}</span>
            </p>
            <p>
                {{item.Comments}}
            </p>
        </li>

    </ul>
    <!-- <ul class="list-unstyled timeline-sm">
        <li class="timeline-sm-item">
            <span class="timeline-sm-date">06/09/2021<br>06:50PM</span>
            <h5 class="mt-0 mb-1">Completed => Repair in Process</h5>
            <p>Changed By: <span class="badge badge-light-primary">Admin</span>
            </p>
            <p>need to changed
            </p>
        </li>
        <li class="timeline-sm-item">
            <span class="timeline-sm-date">06/09/2021<br>06:50PM</span>
            <h5 class="mt-0 mb-1">Repair in Process => Awaiting vendor Quote</h5>
            <p>Changed By: <span class="badge badge-light-primary">Admin</span>
            </p> 
                       <p>need to changed vendor</p>
        </li>

    </ul> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-effect" (click)="modalRef.hide()">Close</button>
</div>