.trans-five {
    flex: 0 0 45.7666666667% !important;
    max-width: 45.7666666667% !important;
}

.padstock {
    padding: 2rem 1.5rem 1rem;
}

.pad15 {
    padding-top: 15px;
}

.pad30 {
    padding-top: 30px;
}

.pad40 {
    padding: 35px 40px;
}

.col-split-5 {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 10px;
}

.pad12 {
    padding: 0 12px;
}

.trans-five .datatables p {
    margin: 0;
    padding: 0;
}

.parttracking-wrap p {
    margin-bottom: 0;
}

.pt30 {
    margin-top: 30px !important;
}

.mt70 {
    margin-top: 70px;
}

.col-20 {
    flex: 0 0 15%;
    width: 15%;
    float: left;
    text-align: center;
}

.col-15 {
    flex: 0 0 5%;
    width: 5%;
    float: left;
    text-align: center;
    min-height: 38px;
    padding-top: 8px;
}

.wwl-100 {
    float: left;
    width: 100%;
    padding: 0;
}

.wwr-100 {
    float: right;
    width: 100%;
    text-align: right;
    margin-left: 0;
    margin-right: -20px;
    padding: 0;
}

.mtm-5 {
    margin-top: -5px;
}

.f-15 {
    font-size: 16px;
    color: #0a406d;
}

.f-16 {
    font-size: 17px;
    color: #0a406d;
}

.f-17 {
    font-size: 20px;
    line-height: 6px;
    position: relative;
    top: 5px;
    color: #0a406d;
}

.f-18 {
    font-size: 27px;
    line-height: 6px;
    position: relative;
    top: 5px;
    color: #0a406d;
}

.f-19 {
    font-size: 19px;
    line-height: 6px;
    position: relative;
    top: 3px;
    color: #0a406d;
}