<div class="modal-header">
    <h4 class="modal-title">Manage Quote For Customer</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">×</button>
</div>
<form class="form" role="form" (ngSubmit)="onSubmit()" [formGroup]="EditForm">
    <div class="modal-body">
        <div class="row">
           
        </div>
        <div class="approve-quotedetail">
            <div class="row approve-quotedetail-headbg">
                <div class="col-2">Part # /Type <span class="red">*</span></div>
                <!-- <div class="col-2">Type</div> -->
                <div class="col-2">Part Description</div>
                <div class="col-1">Lead Time</div>
                <div class="col">Quantity <span class="red">*</span></div>
                <div class="col">Unit Price <span class="red">*</span></div>
                <div class="col-1">{{VAT_field_Name}}</div>
                <div class="col-1">{{Shipping_field_Name}}</div>
                <div class="col-1" *ngIf="IsDisplayBaseCurrencyValue==1">Customer Price({{BaseCurrencySymbol}}) <span class="red">*</span></div>
                <div class="col">Price <span class="red">*</span></div>
                <div class="col">Action</div>
            </div>

            <div formArrayName="QuoteItemList">
                <div *ngFor="let item of QuoteItemList.controls; let i = index;" [formGroupName]="i"
                    class="row approve-quotedetail-even">
                    <div class="col-2 nopad">
                        <div class="ng-autocomplete nopad">
                            
                            <!-- <ng-autocomplete [data]="partList" [searchKeyword]="keyword"
                                (selected)='selectEvent($event, i)' (inputChanged)='onChangeSearch($event, i)'
                                (inputFocused)='onFocused($event)' formControlName="PartNo1"
                                [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete> --> 
                            <ng-select [items]="parts$ | async" bindLabel="PartNo" [typeahead]="partsInput$"

                                [placeholder]="'Enter Part #'" (change)='selectEvent($event,i)' formControlName="Part">
                            </ng-select>
                        </div>
                        <input type="hidden" formControlName="QuoteItemId">
                        <input type="hidden" class="form-control pad5" readonly name="PartId" formControlName="PartId">
                        <input type="hidden" class="form-control pad5" readonly name="PartNo" formControlName="PartNo">
                         <br>
                        <select class="custom-select" name="PartType" formControlName="PartType">
                            <option value="" disabled>Select</option>
                            <option *ngFor="let item of PartTypes" value="{{item.part_typeId}}">{{item.part_typeName}}
                            </option>
                        </select>
                    </div>
                   
                    <div class="col-2">
                        <textarea class="form-control pad5" placeholder="Description..." name="PartDescription"
                            formControlName="PartDescription" rows="3"></textarea>

                    </div>

                    <div class="col-1">
                        <div class="input-group">
                            <input type="number" min="1" class="form-control" name="LeadTime" formControlName="LeadTime"
                                digitOnly>
                            <div class="input-group-append">
                                <span class="input-group-text">Day(s)</span>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <input type="text" min="1" class="form-control" name="Quantity" formControlName="Quantity"
                            digitOnly (keyup)="calculatePrice(i)">

                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{item.value.ItemLocalCurrencySymbol}}</span>
                            </div>
                            <input id="Rate" type="text" name="Rate" formControlName="Rate" class="form-control pad5"
                                inputmode="numeric" pattern="^\d+(\.\d{1,2})?$" placeholder="0.00" digitOnly
                                decimal="true" (keyup)="calculatePrice(i)" />
                        </div>


                    </div>
                    <div  class="col-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">%</span>
                            </div>
                        <input type="text" min="1" class="form-control" 
                             name="ItemTaxPercent" formControlName="ItemTaxPercent"
                             (keyup)="calculatePrice(i)"
                             inputmode="numeric" pattern="^\d+(\.\d{1,2})?$" placeholder="0.00" digitOnly
                             decimal="true">

                        </div>
                        &nbsp;
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{item.value.ItemLocalCurrencySymbol}}</span>
                            </div>
                            <input type="text" class="form-control"  readonly
                            name="Tax" formControlName="Tax"
                               
                                
                                 >
                           
                        </div>
                       



                    </div>
                    <div class="col">
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{item.value.ItemLocalCurrencySymbol}}</span>
                        </div>
                        <input type="text" min="1" class="form-control" name="ShippingCharge" formControlName="ShippingCharge"
                        inputmode="numeric" pattern="^\d+(\.\d{1,2})?$" placeholder="0.00" digitOnly
                                                                decimal="true"
                            (keyup)="calculatePrice(i)">
                        </div>

                    </div>
                    <div  class="col-1" *ngIf="IsDisplayBaseCurrencyValue==1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{BaseCurrencySymbol}}</span>
                            </div>
                            <input id="Rate" type="text" name="BasePrice" formControlName="BasePrice"
                                class="form-control pad5"
                                readonly/>
                          
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{item.value.ItemLocalCurrencySymbol}}</span>
                            </div>
                            <input type="text" class="form-control pad5" readonly name="Price" formControlName="Price">
                        </div>
                    </div>

                    <div class="col">
                        <a (click)="removePart(i)" class=" text-danger" style="cursor: pointer;">
                            <i class="remixicon-delete-bin-line delete-btn-ico"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row subouter">
                <div class="subtotal-left">
                    &nbsp;
                    <!-- <button type="button" style="float:left;margin:15px;" class="btn btn-add btn-sm waves-effect"
                        (click)="addPart()">
                        <i style="float:left;" class="remixicon-add-fill mt-3"></i> Add New
                    </button> -->
                </div>
                <div class="subtotal-block">
                    <!-- <div class="row">
                        <div class="col">Sub Total :</div>
                        <div class="col">
                            $ {{SubTotal}}
                            <input type="hidden" class="form-control" name="SubTotal" formControlName="SubTotal">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Additional Charge :</div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input id="AdditionalCharge" type="text" name="AdditionalCharge"
                                    formControlName="AdditionalCharge" class="form-control" inputmode="numeric"
                                    pattern="^\d+(\.\d{1,2})?$" placeholder="0.00" digitOnly decimal="true"
                                    (keyup)="calculateTotal()" />
                              
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Total Tax :</div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" inputmode="numeric" pattern="^\d+(\.\d{1,2})?$" placeholder="0.00"
                                    digitOnly decimal="true" class="form-control" name="TotalTax" readonly
                                    (keyup)="calculateTotal()" formControlName="TotalTax">
                            </div>&nbsp;
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input type="text" inputmode="numeric" pattern="^\d+(\.\d{1,2})?$" placeholder="0.00"
                                    max="100" digitOnly decimal="true" class="form-control" (keyup)="calculateTax()"
                                    name="TaxPercent" formControlName="TaxPercent">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Discount :</div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input id="Discount" type="text" name="Discount" formControlName="Discount"
                                    class="form-control" inputmode="numeric" pattern="^\d+(\.\d{1,2})?$"
                                    placeholder="0.00" digitOnly decimal="true" (keyup)="calculateTotal()" />
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Shipping :</div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input id="Shipping" type="text" name="Shipping" formControlName="Shipping"
                                    class="form-control" inputmode="numeric" pattern="^\d+(\.\d{1,2})?$"
                                    placeholder="0.00" digitOnly decimal="true" (keyup)="calculateTotal()" />
                              
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col">Grand Total :</div>
                        <div class="col">
                            {{CustomerSymbol}} {{GrandTotal}}
                            <input type="hidden" class="form-control" name="GrandTotal" formControlName="GrandTotal">
                        </div>
                    </div>
                    <div class="row"  *ngIf="IsDisplayBaseCurrencyValue==1">
                        <div class="col">Grand Total ({{BaseCurrencySymbol}}):</div>
                        <div class="col">
                            ({{BaseCurrencySymbol}}) {{GrandTotalUSD}}
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success waves-effect waves-light" [disabled]="btnDisabled"
            [ngClass]="{'class': (btnDisabled)? 'btn btn-success waves-effect waves-light': 'btn btn-light waves-effect waves-light'}">Save</button>
        <button type="button" class="btn btn-light waves-effect" (click)="modalRef.hide()">Close</button>
    </div>
</form>

<ng-template #itemTemplate let-item>
    <a [innerHTML]="item.PartNo"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
</ng-template>