<div class="modal-header modal-lg">
    <h4 class="modal-title">Print Barcode</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">×</button>
</div>
<div class="modal-body p-4 modal-lg">
    <form class="form" role="form" (ngSubmit)="onSubmit()">

        <div class="row print-content">
            <div class="col-xl-12" *ngFor="let d of data">
                <ngx-barcode [bc-value]="d.PartNo + '-' + d.SerialNo" [bc-display-value]="true"></ngx-barcode>
            </div>
        </div>

        <div class="text-right pt-2 mt-0">
            <button type="button" class="btn btn-secondary waves-effect" (click)="modalRef.hide()">Close</button>
            <button class="btn btn-success waves-effect waves-light ml-1">Print</button>
        </div>

    </form>
</div>