.customerbg {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #fbcfd6;
    border: 1px solid #efa0ac;
    color: #333333;
    -webkit-print-color-adjust: exact;
    color-adjust: exact !important;
}
.ht {background: #f8f9fb; border: 1px solid #ecedf0; padding: 14px 20px 12px 20px; }
.rc {padding: 13px 0px 0px 0px; }
.rc1 {margin: 0px; font-size: 16px; font-weight: 600; padding: 7px 10px !important; width: 100% !important; }
.rc2 {font-weight: 600; font-size: 20px; }
.modal-title {padding: 7px 0px 0px 0px !important;}
.modal-header .close {margin: -.4em -1rem -1rem auto !important;}
.hc {border: 1px solid #ecedf0; padding: 10px; }
.customerbg {border-radius:5px !important;background-color: #ffe5e9 !important; border: 1px solid #fdcdd4 !important;}
.ship-history h5 {background: #f8f9fb !important; border: 1px solid #ecedf0 !important; padding: 10px !important;}
.input-group-append {width: 30px !important; float: right !important;}
.form-group label {
    margin: 0 0 8px;
}
.checkinput{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 10px;}
    .input-disabled{
        background-color:grey !important;
    }
    canvas {
        display: block;
        border: 1px solid rgb(187, 178, 178);
        background-color: var(--ion-color-success);
    }
    button {
        margin: 10px;
        margin-left: 10px;
    }