<div class="modal-header modal-lg">
    <h4 class="modal-title">Sub Status</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">×</button>
</div>
<div class="modal-body p-4 modal-lg">
    <form class="form" role="form" (ngSubmit)="onSubmit()" [formGroup]="Form">

        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="Customer">Sub Status Name : <span class="red">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Sub Status Name" name="SubStatusName"
                        formControlName="SubStatusName">
                    <span class="text-danger"
                        *ngIf="(FormControl.SubStatusName.touched || submitted) && FormControl.SubStatusName.errors?.required">
                        Sub Status Name is required
                    </span>
                </div>
            </div>

        </div>



        <div class="text-right pt-2 mt-0">
            <button type="button" class="btn btn-secondary waves-effect" (click)="modalRef.hide()">Close</button>
            <button class="btn btn-success waves-effect waves-light ml-1">Save</button>
        </div>

    </form>
</div>