<div class="modal-header modal-xl ht">
    <h4 class="modal-title">UPS Details</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">×</button>
</div>
<div class="modal-body p-4 modal-xl">
    <form class="shipto-vendor" name="form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="container">

            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="form-group">
                        <label for="Customer">Total Package Weight : {{PackWeight}}
                        </label>
                      
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-xl-6 col-md-6">
                    <div class="form-group">

                        <label for="Customer">UPS Reference No 1:
                        </label>
                       

                            <input type="text" class="form-control" id="refNo1" placeholder="Enter UPS Reference No 1" [(ngModel)]="model.refNo1" name="refNo1" 
                            #refNo1="ngModel">
                           
                        
                    </div>
                </div>

                <div class="col-xl-6 col-md-6">
                    <div class="form-group">
                        <label for="Customer">UPS Reference No 2:
                           
                        </label>
                        <input type="text" class="form-control" id="refNo1" placeholder="Enter UPS Reference No 2" [(ngModel)]="model.refNo2" name="refNo2"  maxlength="35"
                        #refNo2="ngModel">
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-xl-6 col-md-6">

                    <div class="form-group">
                        <label for="Customer">UPS Service:
                            <span class="red">*</span>
                        </label>
                        <ng-select [items]="UPSServiceList" name="UPSService" placeholder="Select" [(ngModel)]="model.UPSService" #UPSService="ngModel" 
                        [ngClass]="{ 'is-invalid': f.submitted && UPSService.invalid }" required 
                        bindLabel="UPS_Service_Description" bindValue="UPS_Service_Code" [searchable]="true">
                        </ng-select>
                        <div *ngIf="f.submitted &&UPSService.invalid" class="invalid-feedback">
                            <div *ngIf="UPSService.errors.required">UPS Service is required</div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect" (click)="modalRef.hide()">Close</button>
            <button [disabled]="btnDisabled" [ngClass]="{'class': (btnDisabled)? 'btn btn-success waves-effect waves-light': 'btn btn-light waves-effect waves-light'}" class="btn btn-success waves-effect waves-light"> Submit</button>
           

        </div>
    </form>
</div>