<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>

  <body>
    <h2>Request For Quote - Aibond Store</h2>

    <table>
      <!-- <tr>
      <td>Request Quote No</td>
      <td>{{RequestQuoteNo}}</td>
    </tr> -->
      <tr>
        <td>Part No</td>
        <td>{{PartNo}}</td>
      </tr>
      <tr>
        <td>Manufacturer</td>
        <td>{{Manufacturer}}</td>
      </tr>
      <tr>
        <td>Priority</td>
        <td>{{Priority}}</td>
      </tr>
      <tr>
        <td>Customer</td>
        <td>{{CompanyName}}</td>
      </tr>
      <tr>
        <td>Contact Name</td>
        <td>{{ContactName}}</td>
      </tr>
      <tr>
        <td>Contact Number</td>
        <td>{{ContactNumber}}</td>
      </tr>
      <tr>
        <td>Contact Email</td>
        <td>{{ContactEmail}}</td>
      </tr>
      <tr>
        <td>Contact Plant</td>
        <td>{{ContactPlant}}</td>
      </tr>
      <tr>
        <td>Comments</td>
        <td>{{Comments}}</td>
      </tr>
    </table>
  </body>
</html>
