<!-- 
    /* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
 -->
<div class="modal-header">
	<h4 style="color: #1abc9c" class="modal-title">
		Packing Slip for {{ Number }}
	</h4>
	<button
		style="cursor: pointer; border: 0"
		ngbTooltip="Export to PDF"
		placement="top"
		value="Download"
		class="btn-group btn-group-sm float-right pdfbtn-rt"
		(click)="generatePDF()"
		title="Export to PDF"
	>
		<i class="mdi mdi-file-pdf-outline"></i>
	</button>
	<button
		type="button"
		class="close"
		aria-hidden="true"
		(click)="modalRef.hide()"
	>
		×
	</button>
</div>

<div class="row mt-20">
	<div class="col-12">
		<div class="card-box popupscroll">
			<div
				id="contentToConvert"
				[ngClass]="hideAddress == false ? 'col-12 pdfwrap black' : 'col-12 pdfwrap'"
			>
				<div class="row pdfex">
					<div class="col-md-3 col-xl-3">
						<div class="clearfix">
							<div class="float-left mb-1">
								<img class="img-fluid" src="assets/images/ah_logo.png" alt="" />
							</div>
						</div>
						<div class="mt-3 ccs">
							<h3>Aibond</h3>
							<p>
								{{ AHAddressList.StreetAddress }}
								{{ AHAddressList.SuiteOrApt }}, {{ AHAddressList.City }}, <br />{{
									AHAddressList.StateName
								}}, {{ AHAddressList.CountryName }} - {{ AHAddressList.Zip }} <br />PH:
								{{ AHAddressList.PhoneNoPrimary }} <br />{{ AHAddressList.Fax }}
							</p>
						</div>
					</div>

					<div class="col-md-5 col-xl-5 text-center ccs mt12">
						<h2
							*ngIf="
								RRShippingHistory.ShipToIdentityName == 'Vendor' &&
								RRShippingHistory.ShipToId != CONST_AH_Group_ID
							"
						>
							Packing List - Evaluation
						</h2>
						<h2
							*ngIf="
								RRShippingHistory.ShipToIdentityName == 'Vendor' &&
								RRShippingHistory.ShipToId == CONST_AH_Group_ID
							"
						>
							Packing List
						</h2>
						<h2
							*ngIf="
								RRShippingHistory.ShipToIdentityName == 'Customer' &&
								(Status == '5' || Status == '7')
							"
						>
							Packing List - Repaired Unit
						</h2>
						<h2
							*ngIf="
								RRShippingHistory.ShipToIdentityName == 'Customer' &&
								(Status == '6' || Status == '8')
							"
						>
							Packing List - Unit Returned Not Repaired
						</h2>
					</div>

					<div class="col-md-3 col-xl-3">
						<div class="col-xl-12 text-center ccs mt45">
							<ngx-barcode
								class="scaled"
								[bc-value]="RRInfo.RRNo"
								[bc-format]="'CODE39'"
								[bc-display-value]="true"
							>
							</ngx-barcode>
							<ngx-barcode
								class="scaled"
								[bc-value]="RRInfo.MRONo"
								[bc-format]="'CODE39'"
								[bc-display-value]="true"
							>
							</ngx-barcode>

							<div style="display: none" *ngIf="RRInfo.RRNo">
								<ngx-barcode
									class="scaled"
									[bc-width]="2"
									[bc-font-size]="24"
									[bc-font]="'sans-serif'"
									[bc-value]="RRInfo.RRNo"
									[bc-display-value]="true"
								></ngx-barcode>
							</div>
							<div style="display: none" *ngIf="RRInfo.MRONo">
								<ngx-barcode
									class="scaled"
									[bc-width]="2"
									[bc-font-size]="24"
									[bc-font]="'sans-serif'"
									[bc-value]="RRInfo.MRONo"
									[bc-display-value]="true"
								></ngx-barcode>
							</div>
							<div style="display: none" *ngIf="RRInfo.CustomerPONo">
								<ngx-barcode
									class="scaled"
									[bc-width]="2"
									[bc-font-size]="24"
									[bc-font]="'sans-serif'"
									[bc-value]="RRInfo.CustomerPONo"
									[bc-display-value]="true"
								></ngx-barcode>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt45">
					<div class="col-sm-6 ccs">
						<h5>Ship To:</h5>
						<div class="addbrd">
							<h3>{{ RRShippingHistory.ShipToName }}</h3>
							<p>
								{{ RRShippingHistory.ReceiveStreetAddress }},
								{{ RRShippingHistory.ReceiveSuiteOrApt }}<br />{{
									RRShippingHistory.ReceiveCity
								}}, {{ RRShippingHistory.ReceiveState }}<br />
								{{ RRShippingHistory.ReceiveCountry }} -
								{{ RRShippingHistory.ReceiveZip }}
							</p>
						</div>
					</div>
					<div
						class="col-sm-6 ccs"
						*ngIf="RRShippingHistory.ShowCustomerReference == 1"
					>
						<h5>Customer Reference:</h5>
						<div class="addbrd">
							<div class="col-lg-6 col-md-6 col-sm-6 f-left nopad">
								<div class="fw100" *ngFor="let item of CustomerRef; let i = index">
									<div class="row">
										<p style="margin-left: 11px">
											{{ item.ReferenceLabelName }} :
											{{ item.ReferenceValue }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- <div class="row mt-2"
                        *ngIf="RRShippingHistory.ShowCustomerReference==1">
                        <div class="col-12 ml-2" *ngIf="CustomerRef.length>0">
                            <h5>Customer Reference:</h5>

                            <div class="col-lg-6 col-md-6 col-sm-6 f-left nopad">
                                <div class="fw100" *ngFor="let item of CustomerRef; let i=index">
                                    <div class="row">
                                        <p style="margin-left: 11px;">{{item.ReferenceLabelName}} :
                                            {{item.ReferenceValue}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> -->

					<!-- <div class="col-sm-6 text-left ccs">
                        <h5>Bill To:</h5>
                        <div>
                            <p>{{RRShippingHistory.ReceiveStreetAddress}}{{RRShippingHistory.ReceiveSuiteOrApt}}<br>{{RRShippingHistory.ReceiveCity}},
                                {{RRShippingHistory.ReceiveCountry}}-
                                {{RRShippingHistory.ReceiveZip}}<br>{{RRShippingHistory.ReceiveState}}</p>
                        </div>
                    </div> -->
				</div>

				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table class="table mt-4 table-bordered mb-0 print-table">
								<thead class="thead-light">
									<tr>
										<th>Req.Ship Date</th>
										<th>Shipping Terms</th>
										<th>Ship Via</th>
										<th>Shipping Account #</th>
										<th>Tracking #</th>
										<th>Order Num</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{ RRShippingHistory.ShipDate | dateTransform }}</td>
										<td>Prepaid & Billed</td>
										<td>{{ RRShippingHistory.ShipViaName || '-' }}</td>
										<td>{{ RRShippingHistory.ShippingAccountNo || '-' }}</td>
										<td>{{ RRShippingHistory.TrackingNo || '-' }}</td>
										<td>{{ RRInfo.RRNo }}</td>
									</tr>
								</tbody>
							</table>

							<div
								class="table-responsive"
								*ngIf="
									RRShippingHistory.ShipToIdentityName == 'Customer' &&
									RRInfo.CustomerPONo != ''
								"
							>
								<table class="table mt12 carinfo float-left">
									<tbody>
										<tr
											*ngIf="
												RRShippingHistory.ShipToIdentityName == 'Customer' &&
												RRInfo.CustomerPONo != ''
											"
										>
											<td class="no-border">
												<ngx-barcode
													class="scaled_po"
													[bc-value]="RRInfo.CustomerPONo ? RRInfo.CustomerPONo : '-'"
													[bc-format]="'CODE39'"
													[bc-display-value]="true"
												></ngx-barcode>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-responsive">
								<table class="table mt12 carinfo float-right">
									<tbody>
										<tr *ngIf="RRShippingHistory.ShipToIdentityName == 'Vendor'">
											<td>
												<p><b>Vendor Reference #</b></p>
											</td>
											<td>{{ RRShippingHistory.VendorRefNo }}</td>
										</tr>
										<tr *ngIf="RRShippingHistory.ShipToIdentityName == 'Customer'">
											<td>
												<p><b>Customer PO #</b></p>
											</td>
											<td>{{ RRInfo.CustomerPONo }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="row" *ngIf="RRShippingHistory.ShowRootCause == 1">
					<div class="col-12 mb-2">
						<div class="col-sm-12 evn noteswrap">
							<div class="clearfix pt-2">
								<h5>Eval Notes:</h5>

								<p class="linebreak smallfont">
									{{ RRShippingHistory.RootCause }}
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<h5>Shipped Items</h5>
						<div
							style="border-bottom: 1px dashed #dcdcdc; padding-bottom: 30px"
							class="table-responsive"
						>
							<table class="table mt-2 table-bordered mb-0 print-table">
								<thead class="thead-light">
									<tr>
										<th width="6%">Line #</th>
										<th width="58%">Item/Description</th>
										<th width="12%">Serial #</th>
										<th width="12%">Lead Time</th>
										<th width="12%">Qty</th>
									</tr>
								</thead>
								<tbody *ngFor="let item of PartItem; let i = index">
									<tr>
										<td>{{ i + 1 }}</td>
										<td>{{ item.PartNo }} {{ item.Description }}</td>
										<td>{{ item.SerialNo }}</td>
										<td>{{ item.LeadTime }}</td>
										<td>{{ item.Quantity }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 pt-3">
						<div class="col-sm-12 nopad noteswrap">
							<div class="clearfix">
								<h5>Customer Stated Issue:</h5>

								<p class="linebreak smallfont" *ngIf="RRInfo.StatedIssue != ''">
									{{ RRInfo.StatedIssue }}
								</p>
								<p class="linebreak smallfont" *ngIf="RRInfo.StatedIssue == ''">NA</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="col-sm-12 nopad noteswrap">
							<div class="clearfix pt-3">
								<h5>Shipping Notes:</h5>
								<div *ngIf="RRShippingHistory.ReceiveIdentityType == 'Customer'">
									<p class="linebreak smallfont" *ngFor="let note of CustomerNote">
										{{ note.Notes }}
									</p>
								</div>
								<div *ngIf="RRShippingHistory.ReceiveIdentityType == 'Vendor'">
									<p class="linebreak smallfont" *ngFor="let note of RRVendorNote">
										{{ note.Notes }}
									</p>
								</div>
								<p class="linebreak smallfont">
									{{ RRShippingHistory.ShipComment }}
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row pdfex">
                    <div class="col-md-3 col-xl-3">
                        <div class="clearfix ">
                            <div class="float-left ">
                                <img src="assets/images/ah_logo.png " alt=" " height="35">
                            </div>
                        </div>
                        <div class="mt-3 ccs">
                            <p><b>{{RRInfo.RRNo}}</b>
                            </p>

                        </div>
                    </div>
                    <div class="col-md-5 col-xl-5">
                        <div class="mt-6 row ">

                            <div class="col-xl-5 col-md-5 ccs">
                                <p class="m-b-10 text-right "><strong>Shipped To : </strong></p>
                            </div>
                            <div class="col-xl-7 col-md-7">
                                <p class="m-b-10 "><span class="customerbg">{{RRShippingHistory.ShipToName}}</span></p>
                            </div>
                            <div class="col-xl-5 col-md-5 ccs">
                                <p class="m-b-10 text-right "><strong>Shipped Via : </strong></p>
                            </div>
                            <div class="col-xl-7 col-md-7">
                                <p class="m-b-10 "><span class="approvebg">{{RRShippingHistory.ShipViaName}}</span></p>
                            </div>
                            <div class="col-xl-5 col-md-5">
                                &nbsp;
                            </div>
                            <div class="col-xl-7 col-md-7">
                                <p class="m-b-10"><span class="Repair">{{repairMessage}}</span></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-4">
                        <div class="mt-3 float-right sales-table">
                            <div class="table-responsive">
                                <table class="table table-borderless bill1 mb-0">
                                    <tbody>
                                        <tr>
                                            <th align="right" scope="row">
                                                <p><b>Shipped Date :</b></p>
                                            </th>
                                            <td>
                                                <p>{{RRShippingHistory.ShipDate|dateTransform}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3"><img class="img-fluid" src="./../../../../../assets/images/barcode2.png">
                    </div>
                    <div class="col-xl-5 text-center">
                        <h4>Packing Slip</h4>
                    </div>
                    <div class="col-xl-4 text-right"><img class="img-fluid" src="./../../../../../assets/images/scancode.png"></div>
                </div>

                <div class="row">
                    <div class="greyhead">Packing Slip for Repair Request # {{RRInfo.RRNo}}</div>
                </div>

                <div class="row mt-0">
                    <div class="col-sm-4">

                        <h5>Shipping Address:</h5>
                        <address>

                            {{RRShippingHistory.ShipStreetAddress}},{{RRShippingHistory.ShipCity}}<br>
                            {{RRShippingHistory.ShipCountry}},
                            {{RRShippingHistory.StateName}}-{{RRShippingHistory.ShipZip}}
                            <div class="clear1">&nbsp;</div>
                            <span><i class="mdi mdi-phone mr-1 " ngbTooltip="Primary"
                                    *ngIf="RRShippingHistory.ShipPhoneNoPrimary!=''"></i>
                                {{RRShippingHistory.ShipPhoneNoPrimary}}</span>
                            <div class="clear1">&nbsp;</div>

                        </address>
                    </div>

                    <div class="col-sm-4 text-left">
                        <h5>Shipping Details</h5>
                        <h5>Tracking No: <span class="smtxt">{{RRShippingHistory.TrackingNo}}</span></h5>
                        <h5>Shipped Via: <span class="smtxt">{{RRShippingHistory.ShipViaName}}</span></h5>
                        <h5>Weight: <span class="smtxt">{{RRShippingHistory.PackWeight}}</span></h5>
                    </div>

                    <div class="col-sm-4 float-right sales-table">
                        <h5>Comments: <span class="smtxt">{{RRShippingHistory.ShipComment}}</span></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h5>Shipped Items</h5>
                        <div class="table-responsive">
                            <table class="table mt-2 table-bordered mb-0 print-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="15%">Part #</th>
                                        <th width="31%">Part Description</th>
                                        <th width="10%">Serial #</th>
                                        <th width="11%">Lead Time</th>
                                        <th width="11%">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of PartItem ; let i= index">
                                    <tr>
                                        <td>{{item.PartNo}}</td>
                                        <td>{{item.Description}}</td>
                                        <td>{{item.SerialNo}}</td>
                                        <td>{{item.LeadTime}}</td>
                                        <td>{{item.Quantity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-9">
                        <div class="clearfix pt-5">
                            <h6 class="text-muted">Notes:</h6>
                            <p class="text-muted linebreak smallfont">
                                <b>Documentation:</b> Please send all quotes to <a href="mailto:info@aibond.ai">info@aibond.ai</a>. All quotes, packing slips and other correspondence must reference the RR Number, with the Purchase
                                Order and Invoice matching exactly to receive payment.
                            </p>
                            <p class="text-muted linebreak smallfont">
                                <b>Shipping Instructions:</b> All ground and outbound freight charges for shipments delivered back to Aibond are to be covered by Supplier, and Aibond will not be responsible for any outgoing charges. No freight charges
                                or shipping & handling fees may be added to the PO or invoiced amount. Please contact <a href="mailto:info@aibond.ai">info@aibond.ai</a> with questions.
                            </p>
                            <p class="text-muted linebreak smallfont">
                                Please see notes and “Ship Via/Shipping Account” fields for specific shipping instructions/method to be used. AH will not be responsible for any freight charges due to incorrect processing and if charges occur, the amount of the shipping cost will be
                                deducted from Supplier’’s invoiced amount. If notations/shipping account/ methods are not indicated on the Purchase Order, order defaults to Supplier being responsible for shipment costs back to AH.
                            </p>

                        </div>
                    </div>
                </div> -->
			</div>
		</div>
	</div>
</div>
