<!-- 
    /* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
 -->

<div class="container-fluid">
	<div class="col-xl-12 mb-3">
		<div class="col-xl-3 col-sm-4 float-left">
			<button class="btn mangebtn btn-block" type="submit">
				Repair Management
			</button>
		</div>
		<div class="col-xl-3 col-sm-4 float-left">
			<button class="btn mangebtn btn-block" type="submit">
				Inventory Management
			</button>
		</div>
		<div class="col-xl-3 col-sm-4 float-left">
			<button class="btn mangebtn btn-block" type="submit">RFID Management</button>
		</div>
		<div class="col-xl-3 col-sm-4 float-left">
			<button class="btn mangebtn btn-block" type="submit">
				Asset Management
			</button>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-5 col-sm-7">
			<div class="card-body p-4">
				<!-- Logo -->
				<div class="text-center w-75 m-auto">
					<a routerLink="/">
						<img src="{{ juno }}" alt="" height="60" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="termsPageHeader">
		<h3 class="termsPageTitle">Terms</h3>
	</div>
	<div class="termsPageBody">
		<p class="float-right">Last Updated: December 01, 2023</p>
		<p>Effective: January 15, 2020,</p>
		<p>
			The Privacy Policy applies to aibondboc.com ("Aibond," "we," "us," "our") and
			describes how we treat personal information when you use Aibond's products
			and services. We collect and store your E-Mail address if you consent to us
			doing that. We hold it securely and have a few third parties that need to see
			that data for E-Mail deliverability, fraud prevention, and payment
			processing.
		</p>
		<h4>DIRECT COLLECTION AND PROCESSING OF PERSONAL DATA</h4>
		<p>
			The personal data you provide to Aibond directly is your E-Mail address. It
			will only be processed for the following purposes:
		</p>
		<ul>
			<li class="personalDataPrivacyList">
				To offer Aibond mandatory account status E-Mails (password reset, E-Mail
				verification, welcome E-Mail, etc.)
			</li>
			<li class="personalDataPrivacyList">
				To identify you when you log in to our Website.
			</li>
			<li class="personalDataPrivacyList">
				To receive marketing E-Mails from us (optional consent opt-in).
			</li>
		</ul>
		<p>
			We may also collect and store your address if you provide it for invoicing
			and replying only. Data processing for the above purpose will be carried out
			via automated electronic means only.
		</p>
		<h4>COOKIE POLICY</h4>
		<p>
			Our Website uses cookies to understand how people use our Website for us to
			improve our Website. A cookie is a small text file placed on your computer
			upon visiting specific websites. The Website can read the text file will help
			to identify you when you return to the Website. We will not share personal
			information with any third party; otherwise, as set out in this Cookies
			Policy, you can block cookies by activating the setting on your browser that
			allows you to refuse cookies. However, if you use your browser settings to
			block our cookies, you cannot log in to Aibond. We use the Analytical cookies
			of the Google Analytics service to analyze our Website's use and keep track
			of visitors. Google Analytics generates statistical and other information
			about our Website's use. Details and privacy policy of Google Analytics
			cookies can be found here: Google Analytics. We use Advertising cookies from
			Adwords Conversion (Google) and Google Dynamic Remarketing (Google) services
			to improve advertising and provide you with the most relevant content,
			avoiding showing you the same advertising twice. You can manage the tracking
			of your data by clicking on.
		</p>
		<h4>INDIRECT COLLECTION OF PERSONAL DATA</h4>
		<p>
			Indirectly we will collect your IP address based on the system you use to
			access our Website via our secure web server logging system. We collect this
			information to detect and prevent fraud and unauthorized access and maintain
			our systems' security. We will use but not collect/store your geolocation
			based on your IP address to personalize your experience using the Aibond
			website.
		</p>
		<h4>SECURITY AND DATA CENTER LOCATION</h4>
		<p>aibondboc.com is secured and hosted on digitalocean.com.</p>
	</div>
	<div class="row mt-3">
		<div class="col-12 text-center">
			<p style="color: #3f79fe">
				Already have account?
				<a routerLink="/account/login"><b style="color: #c90303">Log In</b></a>
			</p>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-12 text-center">
			<p style="color: #3f79fe">
				Don't have an account?
				<a routerLink="/account/signup"><b style="color: #c90303">Sign Up</b></a>
			</p>
		</div>
	</div>
</div>

<footer class="footer footer-alt">
	Copyright © {{ year }} Aibond Corp. All rights reserved.
	<p>
		<a routerLink="/account/about-page">About</a>
		<a routerLink="/account/privacy-page">Privacy</a>
		<a routerLink="/account/terms-page">Terms</a>
	</p>
</footer>
