.form-group label {
    padding-bottom: 6px;
    width: 40% !important;
}

.wrt p {
    margin: 0 0 5px;
    color: #757575;
    font-size: 15px;
}

.card-box {
    margin-bottom: 15px;
}

.wrt h3 {
    font-size: 1.3rem;
    color: #000 !important;
}

.checklistform h2 {
    font-size: 1.3rem;
    color: #000 !important;
}

.checklistform h3 {
    font-size: 18px;
    color: #000 !important;
}

.card-box label {
    color: #333 !important;
    margin-right: 5px;
    font-size: 15px;
}

.evcwrap span {
    margin-right: 5px;
    font-size: 15px;
}

.printpdficon {
    color: #ff0000;
    float: right;
    font-size: 26px;
}

span.dload {
    font-size: 18px;
    /* font-weight: 500; */
    font-family: "Roboto", sans-serif;
    /* color: #38414a; */
    margin-left: 5px;
}

.checkwrap .card-box {
    float: left;
    width: 100%;
    padding-top: 1rem;
}

.form-group.evcwrap {
    margin: 0 0 8px;
}

.card-box.photoswrap img {
    display: flex;
    margin: 0 auto;
}