.table .thead-dark th {
    color: #98a6ad;
    background-color: #09518e;
    border-color:#09518e;
}
a.fa.fa-trash {
    color: #FF0000;
    font-size: 13px;
}
.refresh-btn{color: #19bc9c;
    float: right;
    font-size:20px;
    padding-right: 10px;}

.refresh-btn:hover{color: #333;}
.btn-black{    background: #353e48;
    color: #fff;}