<div class="container-fluid">
    <app-page-title title="Stock Out List" [breadcrumbItems]="breadCrumbItems"></app-page-title>


    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-xl-12 text-right">

                        <div class="button-list btn-group-sm fl-right mb-10" role="group">
                            <button class="btn btn-secondary waves-effect raa" routerLink="/admin/inventory/stockout-add"><i
                                    class="remixicon-add-fill mrg-5"></i> Add Stock Out</button>
                        </div>
                        <div class="button-list btn-group-sm fl-right mb-10" role="group">
                            <button style="padding:1px" class="btn btn-primary waves-effect raa"
                                (click)="resetStockOut()"><i class="mdi mdi-history mrg-5"></i>Stock Out Reset</button>
                        </div>
                        <div class="button-list btn-group-sm fl-right mb-10" role="group">
                            <button style="padding:1px" class="btn btn-primary waves-effect raa"
                                routerLink="/admin/inventory/stockout-Historylist"><i class="mdi mdi-history mrg-5"></i>Stock
                                Out History</button>
                        </div>

                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table id="datatable-angular" datatable [dtOptions]="dtOptions"
                                class="table datatables dt-responsive hover nowrap">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Part #</th>
                                        <th>Serial #</th>
                                        <th>Created</th>
                                        <th>RFID Tag #</th>
                                        <th>Warehouse</th>
                                        <th>Building</th>
                                        <th>Room</th>
                                        <th>Row</th>
                                        <th>Shelf</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <!-- <tbody *ngIf="data?.length == 0">
                                    <tr>
                                        <td colspan="5" class="no-data-available">{{dataTableMessage}}</td>
                                    </tr>
                                <tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-xl-12 text-right">
                        <div class="button-list btn-group-sm fl-right mb-10" role="group">
                            <button class="btn btn-secondary waves-effect raa" (click)="onPackingSlip()"><i
                                    class="remixicon-add-fill mrg-5"></i> packing slip</button>
                        </div>
                        
                    </div>
    
                    
                </div>  -->
            </div>
        </div>
    </div>
</div>