image: node:12.16.1

pipelines:
  default:
    - step:
        name: Build and test
        caches:
          - node
        script:
          - npm install
          - npm run build
          - scp -r dist/angular/* ubuntu@ec2-65-1-73-181.ap-south-1.compute.amazonaws.com:/home/ubuntu/projects/ahoms/frontend/angular