<!-- 
    /* ===================================================
* @copyright Copyright  2020 - 2023 Aibond Corp.
*
* All Rights Reserved.
*
* ========================================================== */
 -->

<div class="container-fluid">
	<div class="col-xl-12 mb-3">
		<div class="col-xl-3 col-sm-4 float-left">
			<button class="btn mangebtn btn-block" type="submit">
				Repair Management
			</button>
		</div>
		<div class="col-xl-3 col-sm-4 float-left">
			<button class="btn mangebtn btn-block" type="submit">
				Inventory Management
			</button>
		</div>
		<div class="col-xl-3 col-sm-4 float-left">
			<button class="btn mangebtn btn-block" type="submit">RFID Management</button>
		</div>
		<div class="col-xl-3 col-sm-4 float-left">
			<button class="btn mangebtn btn-block" type="submit">
				Asset Management
			</button>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-5 col-sm-7">
			<div class="card-body p-4">
				<!-- Logo -->
				<div class="text-center w-75 m-auto">
					<a routerLink="/">
						<img src="{{ juno }}" alt="" height="60" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="privacyPageHeader">
		<h3 class="privacyPageTitle">Privacy</h3>
	</div>
	<div class="privacyPageBody">
		<p class="float-right">Last Updated December 01, 2023</p>
		<br /><br />
		<p>
			The Aibond "Terms of Use" describes the terms using this Website. You accept
			these terms and conditions in full. If you disagree with any part of these
			terms and conditions, do not use our Website.
		</p>
		<h4>Service Provider</h4>
		<p>Aibond services are provided by, and you are contracting with:</p>
		<ul>
			<li class="serviceProviderList">
				Aibond LLC, operating under the laws of the USA
			</li>
			<li class="serviceProviderList">Contact: info@aibond.ai</li>
		</ul>
		<h4>1. LICENSE TO USE THE WEBSITE</h4>
		<p>
			You may view, download for caching purposes only, and print pages from the
			Website provided that:
		</p>
		<ul>
			<li class="licenseList">
				You must not republish material from this Website (including republication
				on another website) or reproduce or store material from this Website in any
				public or private electronic retrieval system.
			</li>
			<li class="licenseList">
				You must not reproduce, duplicate, copy, sell, resell, or otherwise exploit
				our Website or material on our Website for a commercial purpose without our
				consent.
			</li>
		</ul>
		<h4>2. LIMITATIONS OF LIABILITY</h4>
		<p>
			You acknowledge that it would be unreasonable to hold us liable for this
			Website and the information on this Website. While we endeavor to ensure that
			the information on this Website is correct, we do not warrant its
			completeness or accuracy nor commit to ensuring that the Website remains
			available or that the material on this Website is kept up-to-date. To the
			maximum extent permitted by applicable law, we exclude all representations,
			warranties, and conditions (including, without limitation, the conditions
			implied by law of satisfactory quality, fitness for purpose, and the use of
			reasonable care and skill). Our liability is limited and excluded to the
			maximum extent permitted under applicable law. We will not be liable for any
			direct, indirect, or consequential loss or damage arising under these terms
			and conditions or in connection with our Website, whether arising in tort,
			contract or otherwise - including, without limitation, any loss of profit,
			contracts, business, goodwill, data, income, revenue or anticipated savings.
			However, nothing in these terms and conditions shall exclude or limit our
			liability for fraud, death, or personal injury caused by our negligence or
			any other liability that cannot be excluded or limited under applicable law.
		</p>
		<h4>3. ACCURACY OF INFORMATION</h4>
		<p>
			Aibond and its owners will not be liable for any losses or damage resulting
			from the Website's use as a consequence of any inaccuracies in, or any
			omissions from, the information it may contain. We have made reasonable
			efforts to ensure accurate data during inclusion. The information on this
			Website could include technical inaccuracies or typographical errors.
			However, the information may be out of date at the time of access by the
			visitor. We are not liable for any error or omission in or failure to update
			the information on this site. Any decisions based on the data are the
			visitor's sole responsibility. We reserve the right to change this Website at
			any time without notice.
		</p>
		<h4>4. VARIATION</h4>
		<p>
			We may revise these terms and conditions from time to time. Please check this
			page regularly to ensure you know the current version.
		</p>
		<h4>5. ENTIRE AGREEMENT</h4>
		<p>
			Together with our privacy policy, these terms and conditions constitute the
			entire agreement between you and us concerning your use of our Website and
			supersede all previous agreements regarding your use of this Website.
		</p>
		<h4>6. CONTACT DETAILS</h4>
		<p>
			If you have any questions about the terms and conditions, please write to us
			via E-Mail at: info@aibond.ai
		</p>
		<h4>7. ADVICES</h4>
		<p>
			The website contains general information about web technology from publicly
			available resources. All references are for informational purposes only and
			should not be considered recommendations for purchase or sale.
		</p>
	</div>
	<div class="row mt-3">
		<div class="col-12 text-center">
			<p style="color: #3f79fe">
				Already have account?
				<a routerLink="/account/login"><b style="color: #c90303">Log In</b></a>
			</p>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-12 text-center">
			<p style="color: #3f79fe">
				Don't have an account?
				<a routerLink="/account/signup"><b style="color: #c90303">Sign Up</b></a>
			</p>
		</div>
	</div>
</div>

<footer class="footer footer-alt">
	Copyright © {{ year }} Aibond Corp. All rights reserved.
	<p>
		<a routerLink="/account/about-page">About</a>
		<a routerLink="/account/privacy-page">Privacy</a>
		<a routerLink="/account/terms-page">Terms</a>
	</p>
</footer>
