.action-item {
    cursor: pointer;
}

table.datatable thead th.no-sort {
    background: none;
    pointer-events: none;
}

@media screen and (max-width:1024px) {
    table#DataTables_Table_0 {
        min-width: 1300px;
    }
}

@media screen and (max-width:768px) {
    table#DataTables_Table_0 {
        min-width: 1300px;
    }
}