<div class="container-fluid">
    <app-page-title title="Indent List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div style="font-size: 15px;position: relative;font-weight: bold;">
                            <ngb-tabset class="nav-bordered" type="tabs">
                                <ngb-tab title="Search" class="nav-item d-none d-sm-inline-block">
                                    <ng-template ngbTabContent>
                                        <ng-template [ngTemplateOutlet]="Search"></ng-template>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Statistics" class="nav-item">
                                    <ng-template ngbTabContent>
                                        <ng-template [ngTemplateOutlet]="Statistics"></ng-template>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="col-xl-12 text-right">
                    <div class="btn-group btn-group-sm mb-2" role="group">
                        <button class="btn btn-primary waves-effect raa" routerLink="/admin/inventory/create-indent"><i
                                class="remixicon-add-fill mrg-5"></i> Create Indent</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table id="datatable-angular" datatable [dtOptions]="dtOptions"
                                class="table datatables dt-responsive hover nowrap">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Warehouse</th>
                                        <th>Intent Request #</th>
                                        <th>Part #</th>
                                        <th>Requested Qty</th>
                                        <th>Transferred Qty</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                                <!-- <tbody *ngIf="data?.length == 0">
                                    <tr>
                                        <td colspan="5" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tab Content -->
<ng-template #Search>
    <div class="row collapse pt-2 show">
        <div class="col-12 col-sm-4 col-md-4 col-xl-2">
            <label class="control-label">Warehouse</label>
            <select class="custom-select" id="WarehouseId" [(ngModel)]="WarehouseId">
                <option disabled>Select</option>
                <option *ngFor="let w of warehouseList" [value]="w.id" ng-reflect-value="1">{{w.name}}</option>
            </select>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-xl-2">
            <label class="control-label">Intent Request #</label>
            <input type="text" class="form-control" [(ngModel)]="IntentReqNo" placeholder="Enter Intent Request No">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-xl-2">
            <label class="control-label">Part #</label>
            <input type="text" class="form-control" [(ngModel)]="PartNo" placeholder="Enter Part No">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-xl-2">
            <label class="control-label">Requested Quantity</label>
            <input type="text" class="form-control" [(ngModel)]="RequestedQty" placeholder="Enter Requested Quantity">
        </div>

        <div class="col-12 col-sm-4 col-md-4 col-xl-2" style="padding-top:30px;">
            <input type="button" class="btn btn-primary btn-md mr-1" value="Search" id="btnFilter"
                (click)="onFilter()" />
            <input type="button" class="btn btn-secondary btn-md" value="Clear" id="btnClear"
                (click)="onClear()" />
        </div>
    </div>
</ng-template>

<!-- Tab Content -->
<ng-template #Statistics>
    <div class="text-center mb-2">

        <div class="row">
            <div class="col-md-8 col-xl-7 mb-20">
                <div class="row">
                    <div class="col-xl-5 col-sm-5 col-md-5 col-12">
                        <label class="control-label col-xl-3 pad7">From Date</label>
                        <div style="padding:0;" class="input-group col-xl-9 clockpicker">
                            <input class="form-control" placeholder="MM/DD/YYYY" name="d2" ngbDatepicker
                                #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="blackbg" (click)="d2.toggle()" type="button"><i
                                        class="mdi blackbg white mdi-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-sm-5 col-md-5 col-12">
                        <label class="control-label col-xl-3 pad7">To Date</label>
                        <div style="padding:0;" class="input-group col-xl-9 clockpicker">
                            <input class="form-control" placeholder="MM/DD/YYYY" name="d3" ngbDatepicker
                                #d3="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="blackbg" (click)="d3.toggle()" type="button"><i
                                        class="mdi white mdi-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 col-md-2 col-12 text-left nopad">
                        <button type="button" class="btn btn-primary waves-effect waves-light msub">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Card -->
            <div class="col-md-6 col-xl-3" *ngFor="let carddata of cardData">
                <div class="card-box">
                    <i class="{{ carddata.icon }} font-24"></i>
                    <h3 class="text-warning" [ngClass]="{
                        'text-warning': carddata.text === 'warning',
                        'text-success': carddata.text === 'success',
                        'text-danger': carddata.text === 'danger',
                        'text-pink': carddata.text === 'pink',
                        'text-info': carddata.text === 'info',
                        'text-purple': carddata.text === 'purple'
                        }">{{carddata.tickets}}
                    </h3>
                    <p class="text-uppercase mb-1 font-13 font-weight-medium">{{carddata.title}}</p>
                </div>
            </div>
            <!-- End card -->
        </div>
    </div>
</ng-template>